<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>common</title>
</head>
<body>

    <!-- Preloader Start -->
    <div th:fragment="preloader" id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/img/logo/theone.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    
        <!-- Header Start -->
       <div th:fragment="header" class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/assets/img/logo/theone.png}" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a th:href="@{/}"><span style="font-size: large">首頁</span></a></li>
                                            <li><a th:href="@{/job/list}"><span style="font-size: large">找工作</span></a></li>
                                            <li><a href="#"><span style="font-size: large">課程進修</span></a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/user/courses}"><span style="font-size: large">所有課程</span></a></li>
                                                    <li><a href=""><span style="font-size: large">收藏</span></a></li>
                                                    <li><a th:href="@{/user/courses/lecturers}"><span style="font-size: large">講師專區</span></a></li>
                                                </ul>
                                            </li>

                                            <li><a th:href="@{/forum}"><span style="font-size: large">討論區</span></a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/intvlist}"><span style="font-size: large">面試經驗談</span></a></li>
                                                    <li><a th:href="@{/comments}"><span style="font-size: large">職場甘苦談</span></a></li>
                                                </ul>
                                            </li>
                                            <li th:if="${session.loginEnterprise!=null}"><a th:href="@{/enterprise/companydetail}"><span style="font-size: large">企業中心</span></a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/enterprise/job/companylist}"><span style="font-size: large">職缺管理</span></a></li>
                                                    <li><a th:href="@{/enterprise/events}"><span style="font-size: large">廣告管理</span></a></li>
                                                </ul>
                                            </li>
                                            <li th:if="${session.loginMember!=null}"><a href=""><span style="font-size: large">會員中心</span></a>
												<ul class="submenu">
													<li><a th:href="@{/user/members}"><span style="font-size: large">會員資訊</span></a></li>
													<li><a th:href="@{/user/resumes}"><span style="font-size: large">履歷管理</span></a></li>
													<li><a th:href="@{/user/orders}"><span style="font-size: large">我的課程</span></a></li>
													<li><a th:href="@{/user/comments}"><span style="font-size: large">我的職場分享</span></a></li>
												</ul>
											</li>
                                        </ul>
                                    </nav>
                                </div>          
                                <!-- Header-btn -->
                                <div th:if="${session.loginEnterprise==null&&session.loginMember==null}" class="header-btn d-none f-right d-lg-block">
                                    <a th:href="@{/login}" class="btn head-btn2">登入/註冊</a>
                                </div>
                                <div th:if="${session.loginEnterprise!=null}" class="header-btn d-none f-right d-lg-block">
                                    <a th:href="@{/enterprise/companydetail}" class="genric-btn default e-large" th:text="${'Hi !  '+session.loginEnterprise.compid}">帳號</a>
                                    <a th:href="@{/logout}" class="btn head-btn2">登出</a>
                                </div>
                                <div th:if="${session.loginMember!=null}" class="header-btn d-none f-right d-lg-block">
                                    <a href="#" class="genric-btn default e-large" th:text="${'Hi !  '+session.loginMember.username}">帳號</a>
                                    <a th:href="@{/logout}" class="btn head-btn2">登出</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
        
	   <!-- Footer Start-->
	   <div th:fragment="footer" class="footer-area footer-bg footer-padding">
		<div class="container">
			<div class="row d-flex justify-content-between">
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
				   <div class="single-footer-caption mb-50">
					 <div class="single-footer-caption mb-30">
						 <div class="footer-tittle">
							 <h4>關於我們</h4>
							 <div class="footer-pera">
								 <p>幫助求職者找尋理想工作、協助徵才廠商招募優秀人才! 善用The One 就業媒合平台，Choose The One get the right one!</p>
							</div>
						 </div>
					 </div>

				   </div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
					<div class="single-footer-caption mb-50">
						<div class="footer-tittle">
							<h4>聯絡我們</h4>
							<ul>
								<li><p>地址 :320桃園市中壢區新生路二段421號</p></li>
								<li><p>Phone : +03 453 2632</p></li>
								<li><p>Email : eeit45theone@gmail.com</p></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
					<div class="single-footer-caption mb-50">
						<div class="footer-tittle">
							<h4>相關連結</h4>
							<ul>
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Instagram</a></li>
								<li><a href="#">Twitter</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer-bottom area -->
		<div class="footer-bottom-area footer-bg">
			<div class="container">
				<div class="footer-border">
					 <div class="row d-flex justify-content-between align-items-center">
						 <div class="col-xl-10 col-lg-10 ">
							 <div class="footer-copy-right">
								 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
							 </div>
						 </div>
						 <div class="col-xl-2 col-lg-2">
							 <div class="footer-social f-right">
								 <a href="#"><i class="fab fa-facebook-f"></i></a>
								 <a href="#"><i class="fab fa-twitter"></i></a>
								 <a href="#"><i class="fas fa-globe"></i></a>
								 <a href="#"><i class="fab fa-behance"></i></a>
							 </div>
						 </div>
					 </div>
				</div>
			</div>
		</div>
		<!-- Footer End-->

</body>
</html>