@keyframes grow-padding-right {
  from {
    padding-right: 0;
  }
}
@keyframes grow-padding-left {
  from {
    padding-left: 0;
  }
}
/* h1 {
  text-align: center;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 650px;
  margin: 0 auto;
} */

.style-1 {
  list-style-type: none;
  padding: 0;
}
.style-1 li {
  font-weight: bold;
  color: white;
  width: 300px;
  background: cornflowerblue;
  margin-bottom: 4px;
  border-radius: 2px;
}
.style-1 em {
  font-style: normal;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  width: 85px;
  padding: 8px;
  border-radius: 2px;
  animation: grow-padding-right 1s;
}
.style-1 span {
  float: right;
  padding: 8px;
}

.style-2 {
  list-style-type: none;
  padding: 0;
}
.style-2 li {
  font-weight: bold;
  width: 300px;
  margin-bottom: 4px;
}
.style-2 em {
  text-align: right;
  display: inline-block;
  font-style: normal;
  padding: 8px 8px 8px 0;
  width: 85px;
}
.style-2 span {
  color: white;
  background: cornflowerblue;
  border-radius: 2px;
  display: inline-block;
  padding: 8px;
  width: 30px;
  animation: grow-padding-right 1s;
}

.style-3 {
  list-style-type: none;
  padding: 0;
}
.style-3 li {
  background: cornflowerblue;
  color: white;
  font-weight: bold;
  width: 300px;
  margin-bottom: 4px;
  border-radius: 2px;
  white-space: nowrap;
  position: relative;
}
.style-3 em {
  font-style: normal;
  padding: 8px;
  display: inline-block;
}
.style-3 span {
  float: right;
  text-align: right;
  border-radius: 2px;
  padding: 8px;
  width: 30px;
  background: rgba(0, 0, 0, 0.3);
  animation: grow-padding-left 1s;
}

.style-4 {
  list-style-type: none;
  padding: 0;
}
.style-4 li {
  font-weight: bold;
  width: 300px;
  margin-bottom: 4px;
}
.style-4 em {
  display: inline-block;
  font-style: normal;
  padding: 8px 0;
}
.style-4 span {
  color: white;
  background: cornflowerblue;
  border-radius: 2px;
  display: inline-block;
  float: right;
  text-align: right;
  padding: 8px;
  width: 30px;
  animation: grow-padding-left 1s;
}

/* footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 13px;
  background: #DDD;
  padding: 5px 10px;
  margin: 5px;
} */