.slideshow {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.slideshow img {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}