<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>The One</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="">
	
	<!-- CSS here -->
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">
</head>

<body>
	
    <!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
    </header>
	<!-- Hero Area Start-->
	<div class="slider-area ">
		<div class="single-slider section-overly slider-height2 d-flex align-items-center" th:data-background="@{/assets/img/hero/event_application.jpg}">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>職缺廣告申請</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End -->
	
	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-8">
						<h3 class="mb-20">廣告申請表</h3>
						<form th:action="@{/enterprise/event}" method="post" enctype="multipart/form-data" id="form">
							<div class="mb-30">
								<label>廣告連結</label>
								<input type="text" name="eventLinkUrl" required class="single-input" id="eventLinkURL"
								   placeholder="http://" onfocus="this.placeholder = ''" onblur="this.placeholder = 'http://'">
								<div class="invalid-feedback">請輸入廣告連結</div>
							</div>
							<div class="mb-30 text-center">
								<img id="preview_progressbarTW_img" src="#" alt="請選擇廣告圖" style="width: 320px; height: 200px;">
								<div class="fileUpload">
									<input class="upload" type="file" name="imageFile" id="imgInp" accept="image/jpeg, image/png" required />
									<span>上傳廣告圖</span>
								</div>
							</div>
							<div class="mb-30">
								<label>上架日期</label>
								<input type="date" name="postStart" required id="postStart" class="single-input">
								<div class="invalid-feedback" id="postStartError">請輸入上架日期</div>
							</div>
							<div class="mb-30">
								<label>下架日期</label>
								<input type="date" name="postEnd" required id="postEnd" class="single-input">
								<div class="invalid-feedback" id="postEndError">請輸入下架日期</div>
							</div>
							<div class="mb-40">
								<label>備註</label>
								<textarea class="single-textarea" placeholder="最多可標註50字" onfocus="this.placeholder = ''"
									onblur="this.placeholder = '最多可標註50字'" maxlength="50" name="remark"></textarea>
								<input type="hidden" name="compId" required class="single-input" th:value="${session.loginEnterprise.compid}">
								<input type="hidden" name="state" value="0">
							</div>
							<div class="mb-40">
								<button type="button" class="genric-btn primary mr-10" id="btn-submit">送出申請</button>
								<button type="button" class="genric-btn success mr-10" id="btn-goBack">取消</button>
								<button type="button" class="genric-btn danger-border mr-10" id="eventWrongInput">錯誤輸入</button>
								<button type="button" class="genric-btn success-border" id="eventCorrectInput">正確輸入</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->
	<footer>
		<!-- Footer Start-->
        <div th:replace="~{common/frontpage::footer}"></div>
		<!-- Footer End-->
	</footer>
	
<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/event_front/checkEventFormForFrontEnd.js}"></script>
</body>
</html>