<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">

    <style>
        .bkcolor {
            background-color: lightgoldenrodyellow;
        }
        .box {
            width: 500px;
            border: #4caf50 0px solid;
        }

        .imgsize {
            width: 50px;
            height: 50px;
        }

        h6 {
            color: lightgray;
        }

        .center {
            text-align: center;
        }

        textarea {
            resize: none;
        }
    </style>

</head>

<body>
    <!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader End -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                th:data-background="@{/assets/img/job/company.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>更新公司資訊</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->



        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <form th:action="@{/enterprise/companydetail}" method="post"
							enctype="multipart/form-data"
							onsubmit="return checkCompanyForm()" id="companycreateform">
							<div class="row mb-3">
								<input type="hidden" class="form-control" name="comppk"
									id="comppk" th:value="${session.loginEnterprise.comppk}">
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">帳號(統編)</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" maxlength="8"
										name="compid" id="compid" th:value="${session.loginEnterprise.compid}"
										readonly>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">密碼</label>
								<div class="col-sm-8">
									<input type="password" class="form-control" maxlength="15"
										name="compwd" id="compwd" th:value="${session.loginEnterprise.compwd}"
										placeholder="(最少八個字符，至少一個大寫字母，一個小寫字母和一個數字)">
									<div>
										<input type="checkbox" onclick="ShowPwd()">顯示密碼
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">確認密碼</label>
								<div class="col-sm-8">
									<input type="password" class="form-control pwd2" maxlength="15"
										required id="pwdagain" placeholder="(再輸入一次密碼)" name="ckeckpwd" th:value="${session.loginEnterprise.compwd}">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">公司名稱</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="corpname"
										id="corpname" th:value="${session.loginEnterprise.corpname}">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">負責人</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="owner" id="owner"
										th:value="${session.loginEnterprise.owner}">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">產業</label>
								<div class="col-sm-8">
									<select name='industry' class="form-select" 
										th:value="${session.loginEnterprise.industry}" id="industry">
										<option th:selected="${session.loginEnterprise.industry =='金融業'}"
											value="金融業">金融業</option>
										<option th:selected="${session.loginEnterprise.industry =='科技業'}"
											value="科技業">科技業</option>
										<option th:selected="${session.loginEnterprise.industry =='文教相關'}"
											value="文教相關">文教相關</option>
										<option th:selected="${session.loginEnterprise.industry =='餐飲服務'}"
											value="餐飲服務">餐飲服務</option>
										<option th:selected="${session.loginEnterprise.industry =='旅遊相關'}"
											value="旅遊相關">旅遊相關</option>
										<option th:selected="${session.loginEnterprise.industry =='運輸倉儲'}"
											value="運輸倉儲">其他</option>
										<option th:selected="${session.loginEnterprise.industry =='一般服務業'}"
											value="一般服務業">一般服務業</option>
										<option th:selected="${session.loginEnterprise.industry =='建築及不動產'}"
											value="建築及不動產">建築及不動產</option>
										<option th:selected="${session.loginEnterprise.industry =='政治及宗教相關'}"
											value="政治及宗教相關">政治及宗教相關</option>
										<option th:selected="${session.loginEnterprise.industry =='醫療保健及環境衛生'}"
											value="醫療保健及環境衛生">醫療保健及環境衛生</option>
										<option th:selected="${session.loginEnterprise.industry =='礦業及土石開發採取'}"
											value="礦業及土石開發採取">礦業及土石開發採取</option>
										<option th:selected="${session.loginEnterprise.industry =='批發零售及傳直銷產業'}"
											value="批發零售及傳直銷產業">批發零售及傳直銷產業</option>
										<option
											th:selected="${session.loginEnterprise.industry =='法律/會計/顧問/研發/設計業'}"
											value="法律/會計/顧問/研發/設計業">法律/會計/顧問/研發/設計業</option>
									</select>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">聯絡人</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="contact"
										id="contact" th:value="${session.loginEnterprise.contact}">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">聯絡電話</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="comptele"
										id="comptele" th:value="${session.loginEnterprise.comptele}"
										placeholder="請輸入負責人手機或是公司電話(去除括弧及刪節號)">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">傳真號碼</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="fax" id="fax"
										th:value="${session.loginEnterprise.fax}" placeholder="選填">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">公司地址</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="compaddress"
										id="compaddress" th:value="${session.loginEnterprise.compaddress}">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">員工人數</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="empnumber"
										id="empnumber" th:value="${session.loginEnterprise.empnumber}"
										placeholder="(請輸入阿拉伯整數，如2500)">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">公司信箱</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="website"
										id="website" th:value="${session.loginEnterprise.website}">
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">資本額</label>
								<div class="col-sm-8 text-center">
									<input type="text" class="form-control" maxlength="10"
										name="capital" id="capital"
										th:value="${session.loginEnterprise.capital}"
										placeholder="(請輸入公司資本額，如1250萬)">
								</div>
							</div>
                    <div class="center">
                        <button type="submit" class="btn head-btn2" name="update" value="confirm">修改</button>
                        <button type="button" class="btn head-btn2" id="companyCreate">一鍵新增</button>
                        <button type="button" class="btn head-btn2" id="companyUpdate">一鍵修改</button>
                    </div>
                </form>
            </div>
        </div>




        <footer>
            <!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
        <!-- Footer End-->
        </footer>

        <!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
		<!--         my js -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/localization/messages_zh_TW.min.js"></script>
		<script th:src="@{/js/company_dashboard/checkCompanyForm.js}"></script>

</body>

</html>