<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">

    <style>
        .bkcolor {
            background-color: lightgoldenrodyellow;
        }
        .box {
            width: 500px;
            border: #4caf50 0px solid;
        }

        .imgsize {
            width: 50px;
            height: 50px;
        }

        h6 {
            color: lightgray;
        }

        .center {
            text-align: center;
        }

        textarea {
            resize: none;
        }
    </style>

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/img/logo/logo.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img th:src="@{/assets/img/logo/theone.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="">首頁</a></li>
                                            <li><a href="">找工作</a></li>
                                            <li><a href="">課程進修</a>
                                                <ul class="submenu">
                                                    <li><a href="">講師專區</a></li>
                                                    <li><a href="">我的課程</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">討論區</a>
                                                <ul class="submenu">
                                                    <li><a href="">面試經驗談</a></li>
                                                    <li><a href="">在職評論</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">企業中心</a>
                                                <ul class="submenu">
                                                   <li><a th:href="@{/enterprise/job/companylist}">職缺管理</a></li>
                                                    <li><a href="">廣告管理</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
<!--                                     <a th:id="${session.loginEnterprise.comppk}" onclick="del(this.id)" class="btn head-btn1">註銷</a> -->
                                    <a th:href="@{/logout}" class="btn head-btn2">登出</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                th:data-background="@{/assets/img/job/company.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>公司帳號管理頁面</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <h1 class="mb-4">我的公司資訊</h1>
                <div class="row mb-3">
                    <input type="hidden" class="form-control" name="comppk" id="comppk"
                        th:value="${session.loginEnterprise.comppk}" readonly="readonly">
                </div>
                <form th:action="@{/enterprise/company}" method="post" id="form" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">帳號(統編)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" maxlength="8" name="compid" id="compid"
                                th:value="${session.loginEnterprise.compid}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '87654321'" placeholder="87654321">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">密碼</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" maxlength="15" name="compwd" id="compwd"
                                th:value="${session.loginEnterprise.compwd}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Aabc123zzz'" placeholder="Aabc123zzz">
                                <div>
										<input type="checkbox" onclick="ShowPwd()">隱藏密碼
									</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">公司名稱</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="corpname" id="corpname"
                                th:value="${session.loginEnterprise.corpname}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '凜東企業有限公司'" placeholder="凜東企業有限公司">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">負責人</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="owner" id="owner"
                                th:value="${session.loginEnterprise.owner}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '吳先生'" placeholder="吳先生">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">產業</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="industry" id="industry"
                                th:value="${session.loginEnterprise.industry}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '金融業'" placeholder="金融業">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">聯絡人</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="contact" id="contact"
                                th:value="${session.loginEnterprise.contact}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '黃小姐'" placeholder="黃小姐">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">聯絡電話</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="comptele" id="comptele"
                                th:value="${session.loginEnterprise.comptele}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '0939393939'" placeholder="0939393939">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">傳真號碼</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="fax" id="fax" th:value="${session.loginEnterprise.fax}"
                                readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '07-1325462'" placeholder="07-1325462">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">公司地址</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="compaddress" id="compaddress"
                                th:value="${session.loginEnterprise.compaddress}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '新北市土城工業區26號'" placeholder="新北市土城工業區26號">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">員工人數</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="empnumber" required id="empnumber"
                                th:value="${session.loginEnterprise.empnumber}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '300'" placeholder="300">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">公司信箱</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="website" id="website"
                                th:value="${session.loginEnterprise.website}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = 'iSpan4505@gmail.com'" placeholder="iSpan4505@gmail.com">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">資本額</label>
                        <div class="col-sm-8 text-center">
                            <input type="text" class="form-control" maxlength="10" name="capital" id="capital"
                                th:value="${session.loginEnterprise.capital}" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = '1200萬'" placeholder="1200萬">
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn head-btn2" type="submit">前往修改</button>
                    </div>
                </form>















            </div>
        </div>

        <footer>
            <!-- Footer Start-->
            <div class="footer-area footer-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                           <div class="single-footer-caption mb-50">
                             <div class="single-footer-caption mb-30">
                                 <div class="footer-tittle">
                                     <h4>關於我們</h4>
                                     <div class="footer-pera">
                                         <p>幫助您找尋最適合的工作</p>
                                    </div>
                                 </div>
                             </div>
    
                           </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>聯絡我們</h4>
                                    <ul>
                                        <li><p>地址 :320桃園市中壢區新生路二段421號</p></li>
                                        <li><a href="">Phone : +03 453 2632</a></li>
                                        <li><a href="">Email : TheOne@gmail.com</a></li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>相關連結</h4>
                                    <ul>
                                        <li><a href="">Facebook</a></li>
                                        <li><a href="">Instagram</a></li>
                                        <li><a href="">Twitter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area footer-bg">
                <div class="container">
                    <div class="footer-border">
                         <div class="row d-flex justify-content-between align-items-center">
                             <div class="col-xl-10 col-lg-10 ">
                                 <div class="footer-copy-right">
                                     <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                 </div>
                             </div>
                             <div class="col-xl-2 col-lg-2">
                                 <div class="footer-social f-right">
                                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                                     <a href="#"><i class="fab fa-twitter"></i></a>
                                     <a href="#"><i class="fas fa-globe"></i></a>
                                     <a href="#"><i class="fab fa-behance"></i></a>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>

        <!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
		<!-- my js -->
		<script th:src="@{/js/company_dashboard/checkCompanyForm.js}"></script>
		<script>
	function del(id) {
		Swal.fire({
			title: '確認刪除?',
			text: "確定刪除!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: '刪除',
			cancelButtonText: '取消'
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire({
					icon: 'success',
					title: '已刪除!',
					showConfirmButton: false,
					timer: 800
				})
				setTimeout(() => {
					$.ajax({
                        url: '/dashboard/company/delete/'+id,
                        type: 'DELETE',
                        success: function(result) {
                            window.location.href='./list'
                        }
                    });
				}, 800)
			}
		})
	    }
        
    </script>
</body>

</html>