<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>THE ONE</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
	rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet">

<!-- Libraries Stylesheet -->
<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}"
	href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link
	th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}"
	href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
	rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"
	rel="stylesheet">

<!-- Template Stylesheet -->
<link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet">

<!-- jQuery Raty -->
<link th:href="@{/css/jquery.raty.css}" href="css/jquery.raty.css"
	rel="stylesheet">
<!-- 莊詠筑 -->

<!-- Data Table -->
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
	rel="stylesheet">
<!-- 莊詠筑 -->
<style>
.multiselect {
	width: 200px;
	text-align: left
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border: 1px #dadada solid;
	position: relative;
}

.table {
	position: relative
}

#checkboxes label {
	display: block;
	background-color: white;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

/*  menu tab */
.pt-34 {
	padding-top: 33px;
}

#menu {
	float: left;
	position: relative;
	left: 0;
	text-align: left;
}

#menu ul {
	position: relative;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu li {
	float: left;
	position: relative;
	margin: 0 2px 0 0;
	border-bottom: 0;
	width: 106px;
	text-align: center;
}

#menu li a {
	text-decoration: none;
	display: block;
	padding: 8px 15px;
	color: #ffffff;
	font: 15px 'Trebuchet MS', Trebuchet, sans-serif;
	border-radius: 10px 10px 0 0;
	background-color: #4D5960;
}

#menu li a:hover {
	background-color: #DBE4EA;
	color: #0b5394;
}

#txt_cont {
	position: relative;
	width: 536px;
	font: 13px 'Trebuchet MS', Trebuchet, sans-serif;
	line-height: 20px;
	border: 1px solid #ccc;
	border-top: 0;
	margin-left: -270px;
	left: 50%;
}

.txt_tab {
	padding: 8px;
}

#menu ul li a.hover_tab {
	background-color: #F3F6F9;
	color: #0b5394;
}

.a-ellipsis {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

</style>

</head>
<body>
	<div class="container-xxl position-relative bg-white d-flex p-0">
		<!-- Spinner Start -->
		<div th:replace="~{common/dashboard::spinner}"></div>
		<!-- Spinner End -->


		<!-- Sidebar Start -->
		<div th:replace="~{common/dashboard::sidebar(6)}"></div>
		<!-- Sidebar End -->


		<!-- Content Start -->
		<div class="content">
			<!-- Navbar Start -->
			<div th:replace="~{common/dashboard::navbar}"></div>
			<!-- Navbar End -->

			<!-- Content Start -->
			<div class="container-fluid pt-4 px-4">
				<div id="menu">
					<ul>
						<li><a class="hover_tab" href="#list"><i
								class="fa-solid fa-list"></i>&nbspList</a></li>
						<li><a href="#graph"><i class="fa-solid fa-chart-pie"></i>&nbspGraph</a></li>
					</ul>
				</div>
			</div>
			<div style="clear: both"></div>
			<div class="container-fluid px-4">
				<div class="bg-light text-center rounded p-4 txt_tab" id="graph">
					<div class="col-sm-12 col-xl-3">
						<canvas id="jobTypeChart"></canvas>
					</div>
				</div>
			</div>
			<div class="container-fluid px-4">
				<div class="bg-light text-center rounded p-4 txt_tab" id="list">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<h6 class="mb-0">職場甘苦談</h6>
						<div class="form-control-sm w-75 rounded-pill bg-white">
							<span class="float-start mx-1 my-2 rounded-circle"> <i
								class="fa-solid fa-magnifying-glass"></i>
							</span>
							<div class="">
								<input
									class="form-control float-start bg-transparent border-0 w-75 searchBar"
									type="search" data-table="order-table" placeholder="搜尋...">
							</div>
						</div>

						<button type="button" class="btn btn-primary mb-0"
							onclick="location.href='/dashboard/CommentNew'">新增評論</button>
					</div>
					<div>
						<form>
							<div class="multiselect">
								<div class="selectBox" onclick="showCheckboxes()">
									<select>
										<option>選擇顯示欄位</option>
									</select>
									<div class="overSelect"></div>
								</div>
								<div id="checkboxes">
									<!-- 									<label for="all"> <input class="toggle-vis" type="checkbox" id="all" checked/>全選</label>  -->
									<label for="commentId"> <input class="toggle-vis"
										type="checkbox" id="commentId" data-column="0" checked />編號
									</label> <label for="create_time"> <input class="toggle-vis"
										type="checkbox" id="create_time" data-column="1" checked />新增時間
									</label> <label for="userId"> <input class="toggle-vis"
										type="checkbox" id="userId" data-column="2" checked />帳號
									</label> <label for="ref_time"> <input class="toggle-vis"
										type="checkbox" id="ref_time" data-column="3" />參考時間
									</label> <label for="comp_name"> <input class="toggle-vis"
										type="checkbox" id="comp_name" data-column="4" checked />公司名稱
									</label> <label for="comp_score"> <input class="toggle-vis"
										type="checkbox" id="comp_score" data-column="5" />公司評分
									</label> <label for="job_name"> <input class="toggle-vis"
										type="checkbox" id="job_name" data-column="6" checked />職位
									</label> <label for="job_score"> <input class="toggle-vis"
										type="checkbox" id="job_score" data-column="7" />職位評分
									</label> <label for="job_description"> <input
										class="toggle-vis" type="checkbox" id="job_description"
										data-column="8" />職務型態
									</label> <label for="std_hour"> <input class="toggle-vis"
										type="checkbox" id="std_hour" data-column="9" />表定工時
									</label> <label for="real_hour"> <input class="toggle-vis"
										type="checkbox" id="real_hour" data-column="10" />實際工時
									</label> <label for="over_freq"> <input class="toggle-vis"
										type="checkbox" id="over_freq" data-column="11" />加班頻率
									</label> <label for="seniority"> <input class="toggle-vis"
										type="checkbox" id="seniority" data-column="12" />服務年資
									</label> <label for="total_seniority"> <input
										class="toggle-vis" type="checkbox" id="total_seniority"
										data-column="13" />總年資
									</label> <label for="monthly_salary"> <input class="toggle-vis"
										type="checkbox" id="std_hour" data-column="14" />月薪
									</label> <label for="yearly_salary"> <input class="toggle-vis"
										type="checkbox" id="std_hour" data-column="15" />年薪
									</label> <label for="bonus_count"> <input class="toggle-vis"
										type="checkbox" id="bonus_count" data-column="16" />獎金次數
									</label> <label for="share"> <input class="toggle-vis"
										type="checkbox" id="share" data-column="17" checked />心得分享
									</label>
								</div>
							</div>
						</form>

					</div>
					<div class="container">
						<table
							class="table table-bordered order-table cell-border hover nowrap"
							id="commentTable" style="width: 100%">
							<thead>
								<tr class="text-dark">
									<th>編號</th>
									<th>新增時間</th>
									<th>帳號</th>
									<th>參考時間</th>
									<th>公司名稱</th>
									<th>公司評分</th>
									<th>職位</th>
									<th>職位評分</th>
									<th>職務型態</th>
									<th>表定工時</th>
									<th>實際工時</th>
									<th>加班頻率</th>
									<th>服務年資</th>
									<th>總年資</th>
									<th>月薪</th>
									<th>年薪</th>
									<th>獎金次數</th>
									<th>心得分享</th>
									<th>動作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="comment : ${listComment}" id="commentlist">
									<td th:text="${comment.commentId}"></td>
									<td th:text="${#dates.format(comment.create_time,'yyyy-MM')}"></td>
									<td th:text="${comment.userId}"></td>
									<td th:text="${#dates.format(comment.ref_time,'yyyy-MM')}"></td>
									<td th:text="${comment.comp_name}"></td>
									<td class="listComp" data-score=""
										th:attr="data-score=${comment.comp_score}"></td>
									<td th:text="${comment.job_name}"></td>
									<td class="listJob" data-score=""
										th:attr="data-score=${comment.job_score}"></td>
									<td th:text="${comment.job_description}"></td>
									<td th:text="${comment.std_hour}"></td>
									<td th:text="${comment.real_hour}"></td>
									<td th:text="${comment.over_freq}"></td>
									<td th:text="${comment.seniority}"></td>
									<td th:text="${comment.total_seniority}"></td>
									<td th:text="${comment.monthly_salary}"></td>
									<td th:text="${comment.yearly_salary}"></td>
									<td th:text="${comment.bonus_count}"></td>
									<td th:text="${comment.share}" class="a-ellipsis"></td>
									<td><a
										th:href="@{/dashboard/CommentDetail/{id}(id=${comment.commentId})}"
										class="btn btn-outline-info m-0">內容</a> <a
										th:href="@{/dashboard/CommentEdit/{id}(id=${comment.commentId})}"
										class="btn btn-outline-primary m-0">修改</a>
										<button type="button"
											class="btn btn-outline-danger m-0 comment-delete"
											th:value='${comment.commentId}'>刪除</button>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 	Content End -->

				<!-- Footer Start -->
				<div th:replace="~{common/dashboard::footer}"></div>
				<!-- Footer End -->
			</div>
		</div>
		<!-- Content End -->


		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
			class="bi bi-arrow-up"></i></a>
	</div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/localization/messages_zh_TW.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/ellipsis.js"></script>
	<script th:src="@{/lib/chart/chart.min.js}"
		src="lib/chart/chart.min.js"></script>
	<script th:src="@{/lib/easing/easing.min.js}"
		src="lib/easing/easing.min.js"></script>
	<script th:src="@{/lib/waypoints/waypoints.min.js}"
		src="lib/waypoints/waypoints.min.js"></script>
	<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"
		src="lib/owlcarousel/owl.carousel.min.js"></script>
	<script th:src="@{/lib/tempusdominus/js/moment.min.js}"
		src="lib/tempusdominus/js/moment.min.js"></script>
	<script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"
		src="lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script
		th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"
		src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/comment_dashboard/jquery.raty.js}"
		src="js/comment_dashboard/jquery.raty.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
	<script th:src="@{/js/comment_dashboard/checkCommentForm.js}"
		src="js/comment_dashboard/checkCommentForm.js"></script>
	<script th:src="@{/js/comment_dashboard/commentChart.js}"
		src="js/comment_dashboard/commentChart.js"></script>

	<!-- Template Javascript -->
	<script th:src="@{/js/main.js}" src="js/main.js"></script>

	<script>
		var expanded = false;

		function showCheckboxes() {
			var checkboxes = document.getElementById("checkboxes");
			if (!expanded) {
				checkboxes.style.display = "block";
				expanded = true;
			} else {
				checkboxes.style.display = "none";
				expanded = false;
			}
		}
	</script>
</body>
</html>