<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>THE ONE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div th:replace="~{common/dashboard::spinner}"></div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div th:replace="~{common/dashboard::sidebar(3)}"></div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:replace="~{common/dashboard::navbar}"></div>
            <!-- Navbar End -->
            
            <!-- Content Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12 col-xl-10">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">修改紀錄</h6>
                         <form th:action="@{/interview/saveintv}" action="/saveintv" th:object="${intvs}" method="post" onsubmit="return checkIntvForm()" >
                            
                                <label >編號</label><br>
                                
                                    <input type="text"  name="cvNo" th:value="*{cvNo}" readonly id="cvNo">
                                
                            
                <div class="row mb-3">
				<label>會員帳號</label>
				<div class="col-sm-8 text-center">
				<input type="text" class="form-control"
					name="userId" required placeholder="帳號為身份證字號" id="userId" th:value="*{userId}" readonly>
			</div></div>
			<div class="row mb-3">
				<label>面試時間</label> 
				<div class="col-sm-8 text-center">
				<input type="date" class="form-control"
					name="intTime" id="intTime" required th:value="*{intTime}" readonly>
<!-- 				 <input type="date" class="form-control" name="createdTime" th:value="*{createdTime}" readonly > -->
			</div></div>
			<div class="row mb-3">
				<label>公司名稱</label> 
				<div class="col-sm-8 text-center">
				<input type="text" class="form-control"
					name="compName" id="compName" size="10" th:value="*{compName}" readonly>
			</div></div>
			<div class="row mb-3">
				<label>工作內容</label> 
				<div class="col-sm-8 text-center">
				<input type="text" class="form-control"
					name="jobName" maxlength="8" required id="jobName" size="10" th:value="*{jobName}" readonly>
			</div></div>
			<div class="row mb-3">
				<label>考官QA</label>
				<div class="col-sm-8 text-center">
				<textarea class="form-control" placeholder="備註最多50字" id="qA"
					style="height: 150px;" name="qA" maxlength="50" th:text="*{qA}" readonly></textarea>
			</div></div>
			<div class="row mb-3">
				<label>心得分享</label>
				<div class="col-sm-8 text-center">
				<textarea class="form-control" placeholder="備註最多600字" id="share"
					style="height: 150px;" name="share" maxlength="600" th:text="*{share}" readonly></textarea>
			</div></div>
		
                            <button type="button" class="btn btn-primary" id="btn-goBack">取消</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content End -->

			<!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">The One</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/chart/chart.min.js}" src="lib/chart/chart.min.js"></script>
    <script th:src="@{/lib/easing/easing.min.js}" src="lib/easing/easing.min.js"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}" src="lib/waypoints/waypoints.min.js"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}" src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script th:src="@{/lib/tempusdominus/js/moment.min.js}" src="lib/tempusdominus/js/moment.min.js"></script>
    <script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}" src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}" src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/interview_dashboard/checkInterviewForm.js}" src="js/interview_dashboard/checkInterviewForm.js"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}" src="js/main.js"></script>

</body>
</html>