<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="">
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">


    <!-- assets_course CSS here -->
    <!-- Favicon -->
    <!--    <link href="img/favicon.ico" rel="icon">-->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/assets_course/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets_course/css/style.css}" rel="stylesheet">


</head>


<body>
<!-- Preloader Start -->
<div th:replace="~{common/frontpage::preloader}"></div>
<!-- Preloader Start-->
<header>
    <!-- Header Start -->
    <div th:replace="~{common/frontpage::header}"></div>
    <!-- Header End -->
</header>
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center"
         th:data-background="@{/assets/img/hero/course1.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>TheOne精選課程</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->


<!--================Course Area =================-->
<!-- Category Start -->
<div class="container-fluid py-2">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">課程分類</h4>
            <h2>精選進修主題</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-1.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none" th:href="@{/courses}">
                        <h4 class="text-white font-weight-medium">所有課程</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-2.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=英文證照'}">
                        <h4 class="text-white font-weight-medium">英文證照</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-3.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=日語證照'}">
                        <h4 class="text-white font-weight-medium">日語證照</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-4.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=韓語證照'}">
                        <h4 class="text-white font-weight-medium">韓語證照</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-5.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=自我認知'}">
                        <h4 class="text-white font-weight-medium">自我認知</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-6.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=求職技巧'}">
                        <h4 class="text-white font-weight-medium">求職技巧</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-7.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=生涯轉換與轉業'}">
                        <h4 class="text-white font-weight-medium">生涯轉換與轉業</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" th:src="@{/assets_course/img/cat-8.jpg}" alt="">
                    <a class="cat-overlay text-white text-decoration-none"
                       th:href="@{'/courses?courseCategory=就業市場現況趨勢'}">
                        <h4 class="text-white font-weight-medium">就業市場現況趨勢</h4>
                        <!--                        <span>100 Courses</span>-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category end -->
<!-- Courses Start -->
<div class="container-fluid py-2">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">課程列表</h4>
            <h2 th:text="${courseCategory}+' 系列'"></h2>

            <!-- Search Form -->
            <div class="p-3 w-25 m-auto">
                <form th:action="@{/conditionsSearch}" id="searchform">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-xl" placeholder="查詢以課名/分類/講師.."
                               name="search" id="search">
                        <div class="input-group-append">
                                 <span class="input-group-text bg-transparent text-primary" id="searchbtn">
                                        <i class="fa fa-search"></i>
                                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div th:each="course:${courseList}" class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <!-- 識別課程編號-->
                    <input type="hidden" class="courseNo" name="courseNo" id="courseNo" th:value="${course.courseNo}">

                    <a th:href="@{'/courses?courseNo='+${course.courseNo}}">
                        <img class="img-fluid" th:src="${course.coursePicUrl}" alt="" src="">
                    </a>
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="m-0"
                                th:utext="'&lt;i class=&quot;fa fa-table fa-lg text-primary mr-2&quot;&gt;&lt;/i&gt;'+${course.courseCategory}"></h6>
                            <h6 class="m-0"
                                th:utext="'&lt;i class=&quot;fa fa-calendar-alt fa-lg text-primary mr-2&quot;&gt;&lt;/i&gt;'+${#dates.format(course.date,'yyyy-MM-dd')}"></h6>
                        </div>
                        <a class="h5" th:href="@{'/courses?courseNo='+${course.courseNo}}">
                            <div th:text="${course.courseName}"></div>
                        </a>
                        <div></div>

                        <h6 class="m-0 f-right" th:id="${course.courseNo}+'ok'" >
                            <i class="fa-regular fa-bookmark fa-xl text-primary mr-2" th:id="${course.courseNo}" onclick="collectionInsert(this.id)"></i></h6>
                        <h6 class="m-0 f-right" th:id="${course.courseNo}+'no'">
                            <i class="fa-solid fa-bookmark fa-xl text-primary mr-2" th:id="${course.courseNo}+'del'" onclick="collectionDelete(this.id)"></i></h6>

                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"
                                    th:utext="'&lt;i class=&quot;fa fa-user-circle fa- text-primary mr-2&quot;&gt;&lt;/i&gt;'+${course.lecturer}"></h6>
                                <h6 class="m-0"
                                    th:utext="'&lt;i class=&quot;fa fa-star text-primary mr-2&quot;&gt;&lt;/i&gt;'+${course.score}"></h6>
                                <h6 class="m-0"
                                    th:utext="'&lt;i class=&quot;fa fa-dollar-sign fa-lg text-primary mr-2&quot;&gt;&lt;/i&gt;'+'NT'+${course.price}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="col-lg-4 col-md-6 mb-4">-->
            <!--                <div class="rounded overflow-hidden mb-2">-->
            <!--                    <a href="">-->
            <!--                        <img class="img-fluid" th:src="@{/assets_course/img/course-2.jpg}" alt="">-->
            <!--                    </a>-->
            <!--                    <div class="bg-secondary p-4">-->
            <!--                        <div class="d-flex justify-content-between mb-3">-->
            <!--                            <h6 class="m-0"><i class="fa fa-table fa-lg text-primary mr-2"></i>英文認證</h6>-->
            <!--                            <h6 class="m-0"><i class="fa fa-calendar-alt fa-lg text-primary mr-2"></i>2022-01-01</h6>-->
            <!--                        </div>-->
            <!--                        <a class="h5" href="">Web design & development courses for beginner</a>-->
            <!--                        <div></div>-->
            <!--                        <a href="" class="h5"><h6 class="m-0 f-right "><i-->
            <!--                                class="fa fa-bookmark fa-lg text-primary mr-2"></i></h6></a>-->
            <!--                        <div class="border-top mt-4 pt-4">-->
            <!--                            <div class="d-flex justify-content-between">-->
            <!--                                <h6 class="m-0"><i class="fa fa-user-circle fa-lg text-primary mr-2"></i>王大維</h6>-->
            <!--                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5</h6>-->
            <!--                                <h6 class="m-0"><i class="fa fa-dollar-sign fa-lg text-primary mr-2"></i>NT1999</h6>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

        </div>


        <div class="col-lg-4 mt-5 mt-lg-0 ">
            <div class="mb-5" >
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">最新熱門課程</h3>

                <div th:each="courseR:${courseListRecent}">
                    <a class="d-flex align-items-center text-decoration-none mb-3" th:href="@{'/courses?courseNo='+${courseR.courseNo}}">
                        <img class="img-fluid rounded" th:src="${courseR.coursePicUrl}" alt="" width="80px" height="65px">
                        <div class="pl-3">
                            <h6 class="m-1" th:text="${courseR.courseName}"></h6>
                            <small th:text="${#dates.format(courseR.date,'yyyy-MM-dd')}"></small>
                        </div>
                    </a>
                </div>

            </div>
        </div>


        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg justify-content-center mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Courses End -->



<footer>
    <!-- Footer Start-->
    <div th:replace="~{common/frontpage::footer}"></div>
    <!-- Footer End-->
</footer>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/price_rangs.js}"></script>

<!-- One Page, Animated-HeadLin -->
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/animated.headline.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/assets/js/jquery.sticky.js}"></script>

<!-- contact js -->
<script th:src="@{/assets/js/contact.js}"></script>
<script th:src="@{/assets/js/jquery.form.js}"></script>
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/mail-script.js}"></script>
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<!-- fontawesome JS here -->
<script src="https://kit.fontawesome.com/339c616d98.js" crossorigin="anonymous"></script>


<!-- assets_course JS here -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets_course/lib/easing/easing.min.js}"></script>
<script th:src="@{/assets_course/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Contact Javascript File -->
<script th:src="@{/assets_course/mail/jqBootstrapValidation.min.js}"></script>
<script th:src="@{/assets_course/mail/contact.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/assets_course/js/main.js}"></script>
<script>
    $(function () {
        var courseNoSelectors = $('.courseNo');
        for (let i = 0; i < courseNoSelectors.length; i++) {
            let courseNo = courseNoSelectors[i].value
            console.log(courseNo)
            let ok = courseNo + 'ok'
            let no = courseNo + 'no'
            $.ajax({
                type: 'get',
                url: '/checkFavorite?courseNo=' + courseNoSelectors[i].value,
                async: false,
                success: function (data) {
                    console.log(data)
                    if (data) {
                        document.getElementById(ok).hidden = true;
                    } else {
                        document.getElementById(no).hidden = true;
                    }
                }
            });
        }
    })


    function collectionInsert(courseNo) {
        var ok = courseNo+'ok';
        var no = courseNo+'no';
        $.ajax({
            type: 'get',
            url: '/collectionInsert/' + courseNo,
            success: function (data) {
                if (data) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        width:'20%',
                        title: '已收藏',
                        background:'#F0F0F0',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    document.getElementById(no).hidden = false;
                    document.getElementById(ok).hidden = true;
                }else {
                    location.href="/login";
                }
            }
        });

    }

    function collectionDelete(courseNo) {
        var str = courseNo;
        var id;
        if (str.length == 4) {
            id = str.substring(0, 1);
        } else if (str.length == 5) {
            id = str.substring(0, 2);
        } else {
            id = str.substring(0, 3);
        }
        let no = id;
        var ok = no+'ok';
        var no2 = no+'no';
        $.ajax({
            type: 'get',
            url: '/collectionDelete/' + no,
            success: function (data) {
                console.log(data)
                if (data) {
                    Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        width:'20%',
                        title: '取消收藏',
                        background:'#F0F0F0',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    document.getElementById(no2).hidden = true;
                    document.getElementById(ok).hidden = false;
                }else {
                    location.href="/login";
                }
            }
        });
    }

    // 輪播
    $(document).ready(function() {
        $("#myCarousel").on("slide.bs.carousel", function(e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item").length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $(".carousel-item")
                            .eq(i)
                            .appendTo(".carousel-inner");
                    } else {
                        $(".carousel-item")
                            .eq(0)
                            .appendTo($(this).find(".carousel-inner"));
                    }
                }
            }
        });
    });

</script>


</body>
</html>