<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets_course/css/style.css}" rel="stylesheet">
</head>

<body>
<!-- Preloader Start -->
<div th:replace="~{common/frontpage::preloader}"></div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div th:replace="~{common/frontpage::header}"></div>
    <!-- Header End -->
</header>
<main>

    <!-- course Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
             th:data-background="@{/assets/img/hero/course1.jpg}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>TheOne精選課程</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course Area End -->

    <!-- course post  Start -->

    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->

                    <!-- 識別課程編號-->
                    <input type="hidden" class="form-control" name="courseNo"
                           th:value="${CourseBean.courseNo}">


                    <div class="single-job-items mb-50">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" th:src="${CourseBean.coursePicUrl}" alt="" id="preview_img">
                            <div class="blog_item_date">
                                <h3 th:utext="'&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt; '+${CourseBean.score}+' / 10'"></h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h2 th:utext="${CourseBean.courseName}"></h2>
                            </div>

                        </div>
                        <div class="post-details2  mb-50 ">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>課程介紹</h4>
                            </div>
                            <ul>
                                <li th:utext="${CourseBean.courseIntroduction}"></li>
                                <!--                                <li></li>-->
                                <!--                                <li></li>-->
                            </ul>
                        </div>
                    </div>

                </div>





                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>課程細項</h4>
                        </div>
                        <ul>
                            <li>分類 : <span th:utext="${CourseBean.courseCategory}"></span></li>
                            <li>講師 : <span th:utext="${CourseBean.lecturer}"></span></li>
                            <li>上架時間 : <span th:utext="${CourseBean.date}"></span></li>
                            <li>價錢 : <span th:utext="'NT'+${CourseBean.price}"></span></li>
                        </ul>
                        <div class="apply-btn2">
<!--                             <a href="" class="btn" id="btn-buy">馬上購買</a> -->
                        <form action="./user/courses/Buy" method="post">
				        	<input type="hidden" name="courseid" id="courseid" th:value="${CourseBean.courseNo}">
				      	    <input type="submit" value="馬上購買" class="btn">
				        </form>
                        </div>
                        
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>公司資訊</h4>
                        </div>
                        <span>The One</span>
                        <p>發現就業市場(勞資雙方)永遠都有人才媒合需求，但既有的人力銀行無法一站式提供「就業媒合」、「經驗談分享」、「技能進修課程」等求職者迫切需要的資訊，於是構思出The
                            One就業媒合平台。</p>
                        <ul>
                            <li>姓名: <span>連上程 </span></li>
                            <li>網址: <span> TheOne.com</span></li>
                            <li>信箱: <span>bir0405work@gmail.com</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0 ">
                    <div class="mb-5" >
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">猜你喜歡這些課程</h3>

                        <div th:each="courseC:${courseListCate}">
                            <a class="d-flex align-items-center text-decoration-none mb-3" th:href="@{'/courses?courseNo='+${courseC.courseNo}}">
                                <img class="img-fluid rounded" th:src="${courseC.coursePicUrl}" alt="" width="65px" height="65px">
                                <div class="pl-3">
                                    <h6 class="m-1" th:text="${courseC.courseName}"></h6>
                                    <small th:text="${#dates.format(courseC.date,'yyyy-MM-dd')}"></small>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0 ">
                    <div class="mb-5" >
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">最新熱門課程</h3>
                        <div th:each="courseR:${courseListRecent}">
                            <a class="d-flex align-items-center text-decoration-none mb-3" th:href="@{'/courses?courseNo='+${courseR.courseNo}}">
                                <img class="img-fluid rounded" th:src="${courseR.coursePicUrl}" alt="" width="80px" height="65px">
                                <div class="pl-3">
                                    <h6 class="m-1" th:text="${courseR.courseName}"></h6>
                                    <small th:text="${#dates.format(courseR.date,'yyyy-MM-dd')}"></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- course post  End -->

</main>
<footer>
    <!-- Footer Start-->
    <div th:replace="~{common/frontpage::footer}"></div>
    <!-- Footer End-->
</footer>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/price_rangs.js}"></script>

<!-- One Page, Animated-HeadLin -->
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/animated.headline.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/assets/js/jquery.sticky.js}"></script>

<!-- contact js -->
<script th:src="@{/assets/js/contact.js}"></script>
<script th:src="@{/assets/js/jquery.form.js}"></script>
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/mail-script.js}"></script>
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<!-- fontawesome JS here -->
<script src="https://kit.fontawesome.com/339c616d98.js" crossorigin="anonymous"></script>

</body>
</html>