<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/assets/img/logo/logo.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href=""><img th:src="@{/assets/img/logo/theone.png}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a href="">首頁</a></li>
                                        <li><a href="">找工作</a></li>
                                        <li><a href="">課程進修</a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/user/courses}">所有課程</a>
                                                    <!--                                                    <ul class="submenu">-->
                                                    <!--                                                        <li>123</li>-->
                                                    <!--                                                        <li>123</li>-->
                                                    <!--                                                        <li>123</li>-->
                                                    <!--                                                    </ul>-->
                                                </li>
                                                <li><a href="">收藏</a></li>
                                                <li><a th:href="@{/user/courses/lecturers}">講師專區</a></li>
                                                <li><a href="">我的課程</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">討論區</a>
                                            <ul class="submenu">
                                                <li><a href="">面試經驗談</a></li>
                                                <li><a href="">在職評論</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">會員中心</a>
                                            <ul class="submenu">
                                                <li><a href="">會員資訊</a></li>
                                                <li><a href="">履歷管理</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block">
                                <a href="#" class="btn head-btn2">登出</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>

    <!-- course Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
             th:data-background="@{/assets/img/hero/course1.jpg}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>TheOne精選課程</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course Area End -->

    <!-- course post  Start -->

    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->

                    <!-- 識別課程編號-->
                    <input type="hidden" class="form-control" name="courseNo"
                           th:value="${CourseBean.courseNo}">


                    <div class="single-job-items mb-50">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" th:src="${CourseBean.coursePicUrl}" alt="" id="preview_img">
                            <div class="blog_item_date">
                                <h3 th:utext="'&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt; '+${CourseBean.score}+' / 10'"></h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h2 th:utext="${CourseBean.courseName}"></h2>
                            </div>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>課程介紹</h4>
                            </div>
                            <ul>
                                <li th:utext="${CourseBean.courseIntroduction}"></li>
                                <!--                                <li></li>-->
                                <!--                                <li></li>-->
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>課程細項</h4>
                        </div>
                        <ul>
                            <li>分類 : <span th:utext="${CourseBean.courseCategory}"></span></li>
                            <li>講師 : <span th:utext="${CourseBean.lecturer}"></span></li>
                            <li>上架時間 : <span th:utext="${CourseBean.date}"></span></li>
                            <li>價錢 : <span th:utext="'NT'+${CourseBean.price}"></span></li>
                        </ul>
                        <div class="apply-btn2">
                            <a href="" class="btn" id="btn-buy">馬上購買</a>
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>公司資訊</h4>
                        </div>
                        <span>The One</span>
                        <p>發現就業市場(勞資雙方)永遠都有人才媒合需求，但既有的人力銀行無法一站式提供「就業媒合」、「經驗談分享」、「技能進修課程」等求職者迫切需要的資訊，於是構思出The
                            One就業媒合平台。</p>
                        <ul>
                            <li>姓名: <span>連上程 </span></li>
                            <li>網址: <span> TheOne.com</span></li>
                            <li>信箱: <span>bir0405work@gmail.com</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- course post  End -->

</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>關於我們</h4>
                                <div class="footer-pera">
                                    <p>幫助您找尋最適合的工作</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>聯絡我們</h4>
                            <ul>
                                <li><p>地址 :320桃園市中壢區新生路二段421號</p></li>
                                <li><a href="">Phone : +03 453 2632</a></li>
                                <li><a href="">Email : TheOne@gmail.com</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>相關連結</h4>
                            <ul>
                                <li><a href="">Facebook</a></li>
                                <li><a href="">Instagram</a></li>
                                <li><a href="">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/price_rangs.js}"></script>

<!-- One Page, Animated-HeadLin -->
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/animated.headline.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/assets/js/jquery.sticky.js}"></script>

<!-- contact js -->
<script th:src="@{/assets/js/contact.js}"></script>
<script th:src="@{/assets/js/jquery.form.js}"></script>
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/mail-script.js}"></script>
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>