<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>The One</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="">
		<link rel="shortcut icon" type="image/x-icon" href="">

		<!-- CSS here -->
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
        <link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
        <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
        <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
        <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
        <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
   </head>

   <body>
   <!-- Preloader Start -->
	<div th:replace="~{common/frontpage::preloader}"></div>
	<!-- Preloader End -->
	<header>
		<!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
		<!-- Header End -->
	</header>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            th:data-background="@{/assets/img/inter/inter.png}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>分享心得</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- ================ contact section start ================= -->
    <section class="contact-section ">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">新增分享</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-contact contact_form" th:action="@{/saveintv}"  method="post" id="form"   >
                        <div class="row">

                            <div class="col-12">
                                <label>會員帳號</label>
                                <div class="form-group">
                                    <input class="form-control valid" name="userId" id="userId" type="text"
                                        onfocus="this.placeholder = '輸入會員帳號'" onblur="this.placeholder = '輸入會員帳號'"
                                        placeholder="輸入會員帳號">
                                </div>
                            </div>

                            <div class="col-12">
                                <label>面試時間</label>
                                <div class="form-group">
                                    <input class="form-control valid" name="intTime" id="intTime" type="date" 
                                        onfocus="this.placeholder = ''">
                                        <div class="invalid-feedback" id="intTimeError">請輸入面試日期</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>公司名稱</label>
                                <div class="form-group">
                                    <input type="text" class="form-control valid" name="compName" id="compName"
                                        size="10" placeholder="輸入公司名稱">
                                </div>
                            </div>
                            <div class="col-6">
                                <label>工作內容</label>
                                <div class="form-group">
                                    <input type="text" class="form-control valid" name="jobName" id="jobName"
                                        size="10" placeholder="輸入工作內容">
                                </div>
                            </div>
                            <div class="col-6 " >
                                <label>評分該公司</label>
                                <div class="form-group ">

                                    <div class="switch-wrap d-flex justify-content-start">

                                        <div >
                                            <input type="radio" id="compScore" name="compScore" value="1">
                                            <label for="compScore"></label>
                                        </div>1

                                        <div >
                                            <input type="radio" id="compScore" name="compScore" value="2">
                                            <label for="compScore"></label>
                                        </div> 2
                                        <div >
                                            <input type="radio" id="compScore" name="compScore" value="3" checked>
                                            <label for="compScore"></label>
                                        </div> 3
                                        <div >
                                            <input type="radio" id="compScore" name="compScore" value="4">
                                            <label for="compScore"></label>
                                        </div> 4
                                        <div >
                                            <input type="radio" id="compScore" name="compScore" value="5">
                                            <label for="compScore"></label>
                                        </div> 5
                                    </div>
                                </div>
                            </div>
                            


                            <div class="col-2">
                                <label>是否錄取</label>
                                <div class="form-group ">
                                    <div class="switch-wrap d-flex justify-content-between">

                                        <div >
                                            <input type="radio" name="offer" value="1" id="offer" checked>是 
                                            <label for="offer"></label>
                                        </div>

                                        <div >
                                            <input type="radio" name="offer" value="2" id="offer">否
                                            <label for="offer"></label>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                            <div class="col-2">
                                <label>有無測驗</label>
                                <div class="form-group ">
                                    <div class="switch-wrap d-flex justify-content-between">

                                        <div >
                                            <input type="radio" name="test" value="1" id="test" checked>
                                            <label for="test">有</label>
                                        </div>

                                        <div >
                                            <input type="radio" name="test" value="2" id="test">
                                            <label for="test">無</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <label>考官QA</label>
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="qA" cols="30" rows="9" id="qA"
                                        onfocus="this.placeholder = '備註最多200字'"
                                        onblur="this.placeholder = 'Enter Message'" placeholder=" 備註最多200字"
                                        maxlength="200"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <label>心得分享</label>
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="share" id="share" cols="30" rows="9"
                                        onfocus="this.placeholder = '備註最多1000字'"
                                        onblur="this.placeholder = 'Enter Message'" placeholder=" 備註最多1000字"
                                        maxlength="1000"></textarea>
                                </div>
                            </div>


                        </div>

                       <div class="section-top-border">
                            <div class="row">

                                <div class="button-group-area col-lg-8 col-md-8">

                                   <button type="submit" class="genric-btn primary mr-10" id="intv_submit" name="intv_submit" value="confirm">新增</button>
								<button type="reset" class="genric-btn success mr-10" >還原</button>
								<button type="button" class="genric-btn primary mr-10" onclick="window.location.href='intvlist'; return false;">返回</button>

                                </div>
                                <div class="button-group-area mt-10">



                                   <button type="button" class="genric-btn info circle arrow" id="InterviewcorrectInput" name="InterviewcorrectInput" value="一鍵輸入">一鍵輸入<span
                                            class="lnr lnr-arrow-right"></span></button>
                                    <button type="button" class="genric-btn danger circle arrow" id="InterviewwrongInput" name="InterviewwrongInput" value="錯誤輸入">錯誤輸入<span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
               <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder='Search Keyword'
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>

                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" th:each="course:${courseList}">推薦課程</h3>
                                
                                <div class="media post_item">
                                    <img th:src="@{/assets/img/post/post_1.png}" alt="">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>教你如何釣魚</h3>
                                        </a>

                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img th:src="@{/assets/img/post/post_2.png}" alt="">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>職場就像秀</h3>
                                        </a>

                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img th:src="@{/assets/img/post/post_3.png}" alt="">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>享受工作</h3>
                                        </a>

                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img th:src="@{/assets/img/post/post_4.png}" alt="">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>Asteroids telescope</h3>
                                        </a>

                                    </div>
                                </div>
                            </aside>

                            <aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title">廣告</h4>
                                <ul class="instagram_row flex-wrap">
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" th:src="@{/assets/img/post/post_5.png}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" th:src="@{/assets/img/post/post_6.png}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" th:src="@{/assets/img/post/post_7.png}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" th:src="@{/assets/img/post/post_8.png}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" th:src="@{/assets/img/post/post_9.png}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" th:src="@{/assets/img/post/post_10.png}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
                <!-- 右邊欄位尾 -->
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->
    <footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
		<!-- Footer End-->
	</footer>

     <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{/assets/js/slick.min.js}"></script>
        <script th:src="@{/assets/js/price_rangs.js}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
        <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/interview_front/jquery.raty.js}" src="js/interview_front/jquery.raty.js"></script>
    	<script th:src="@{/js/interview_front/checkInterviewForm.js}" src="js/interview_front/checkInterviewForm.js"></script>
   

</body>

</html>