<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The One</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="">

<!-- CSS here -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">

<style>
.pass:hover {
	filter: brightness(120%)
}
</style>

</head>

<body>
	<!-- Preloader Start -->
	<div th:replace="~{common/frontpage::preloader}"></div>
	<!-- Preloader Start -->
	<header>
		<!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
		<!-- Header End -->
	</header>
	<main>
		<!-- Online CV Area Start -->
		<div class="online-cv cv-bg section-overly">
			<div class="row justify-content-center">
				<div class="online-cv cv-bg section-overly pt-90 pb-120 col-xl-6 pass"
					data-background="assets/img/inter/99.png">
					<a href="#" class="">
						<div class="cv-caption text-center ">
							<p class="pera2">
								<br>
							</p>
							<p class="pera2">面試經驗談</p>
							<!-- 						<a href="#" class="border-btn2 border-btn4">前往面試經驗談</a> -->
							<p class="pera2">
								<br>
							</p>
						</div>
					</a>
				</div>
				<div
					class="online-cv cv-bg section-overly pt-90 pb-120 col-xl-6 pass"
					data-background="assets/img/inter/cv_bg.jpg">
					<a th:href="@{/comments}" class="">
						<div class="cv-caption text-center">
							<p class="pera2">
								<br>
							</p>
							<p class="pera2">職場甘苦談</p>
							<!-- 						<a th:href="@{/comments}" class="border-btn2 border-btn4">前往職場甘苦談</a> -->
							<p class="pera2">
								<br>
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- Online CV Area End-->
	</main>
	<footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
		<!-- Footer End-->
	</footer>


	<!-- JS here -->

	<!-- All JS Custom Plugins Link Here here -->
	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/price_rangs.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/animated.headline.js}"></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/assets/js/jquery.sticky.js}"></script>

	<!-- contact js -->
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/js/jquery.form.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/mail-script.js}"></script>
	<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>