<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>THE ONE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div th:replace="~{common/dashboard::spinner}"></div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div th:replace="~{common/dashboard::sidebar(1)}"></div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:replace="~{common/dashboard::navbar}"></div>
            <!-- Navbar End -->

			<!-- Content Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="col-sm-12 col-xl-10">
					<div class="bg-light rounded h-100 p-4">
						<h6 class="mb-4">修改會員資訊</h6>
						<form th:action="@{/dashboard/member}" action="./MemberServlet"
							method="post" id="form" enctype="multipart/form-data"
							onsubmit="return checkMemberForm()">
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">會員編號</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="idNumber"
										th:value="${member.idNumber}" readonly id="idNumber">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">帳號(身分證)</label>
								<div class="col-sm-8">
									<input type="hidden" class="form-control" name="update123"
										value="0"> <input type="text" class="form-control"
										name="userid" th:value="${member.userid}" readonly id="userid">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">密碼</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" maxlength="15"
										name="pwd" th:value="${member.pwd}" required id="pwd"
										placeholder="(15個英文字元內)">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">姓名</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" maxlength="10"
										name="username" th:value="${member.username}" required
										id="username">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">性別</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="gender"
										maxlength="1" th:value="${member.gender}" required id="gender"
										placeholder="(請填入男或女)">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">生日</label>
								<div class="col-sm-8">
									<input type="date" class="form-control" name="birth"
										th:value="${#dates.format(member.birth, 'yyyy-MM-dd')}" required id="birth">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">住宅電話</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" maxlength="10"
										name="tele" th:value="${member.tele}" required id="tele"
										placeholder="(開頭加區碼，如02)" onkeypress="return my_key(event)">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">手機</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" maxlength="10"
										name="phone" th:value="${member.phone}" required id="phone" onkeypress="return my_key(event)">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">通訊地址</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" maxlength="30"
										name="address" th:value="${member.address}" required
										id="address">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">email</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="email"
										th:value="${member.email}" required id="email">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">會員點數</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="point"
										th:value="${member.point}" required id="point"
										placeholder="(請輸入整數)">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">照片</label>
								<div class="col-sm-8 text-center">
									<img class="img-fluid mx-auto mb-4"
										id="preview_progressbarTW_img"
										th:src="${member.image}" alt="請選擇您的照片"
										style="width: 260px; height: 320px;"> 
									<input type="hidden" class="form-control" name="image" th:value="${member.image}"> 
									<input class="form-control" type="file" name="imageFile" id="imgInp" accept="image/jpeg, image/png">
								</div>
							</div>

							<button type="submit" class="btn btn-primary" name="update"
								value="confirm" id="btn-submit">確認修改</button>
							<button type="button" class="btn btn-primary" id="btn-goBack">取消</button>
							<!--   <button type="button" class="btn btn-primary" id="wrongInput">錯誤輸入</button>
                            <button type="button" class="btn btn-primary" id="correctInput">正確輸入</button>     -->
						</form>
					</div>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="bg-light rounded-top p-4">
					<div class="row">
						<div class="col-12 col-sm-6 text-center text-sm-start">
							&copy; <a href="#">The One</a>, All Right Reserved.
						</div>
						<div class="col-12 col-sm-6 text-center text-sm-end">
							Designed By <a href="https://htmlcodex.com">HTML Codex</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer End -->
		</div>
		<!-- Content End -->


		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
			class="bi bi-arrow-up"></i></a>
	</div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/lib/chart/chart.min.js}"
		src="lib/chart/chart.min.js"></script>
	<script th:src="@{/lib/easing/easing.min.js}"
		src="lib/easing/easing.min.js"></script>
	<script th:src="@{/lib/waypoints/waypoints.min.js}"
		src="lib/waypoints/waypoints.min.js"></script>
	<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"
		src="lib/owlcarousel/owl.carousel.min.js"></script>
	<script th:src="@{/lib/tempusdominus/js/moment.min.js}"
		src="lib/tempusdominus/js/moment.min.js"></script>
	<script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"
		src="lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script
		th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"
		src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/js/member_dashboard/checkMemberForm.js}" src="js/checkMemberForm.js"></script>

	<!-- Template Javascript -->
	<script th:src="@{/js/main.js}" src="js/main.js"></script>

</body>
</html>