body{
  display:flex;
  height:100vh;
  min-height:35rem;
  align-items:center;
  justify-content:center;
  font-family:'Josefin Sans', sans-serif;
}

.card{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
    padding-top:1rem;
    padding-bottom:1rem;
	transform:translate(-50%,-50%);
	
}

.card-wrap{
	position:relative;
  margin:0 auto
}

@media (min-width: 769px){

.card-wrap{
    max-width:450px
}
  }

.card-body{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.card-body p{
    font-size:1.1rem;
  }

.card-title{
  font-weight:bold;
  font-size:1.8rem;
}

.badge-wrap{
  display:flex;
  justify-content:center;
}

.badge-wrap a.badge{
    display:flex;
    align-items:center;
    justify-content:center;
    width:2.5rem;
    height:2.5rem;
    margin:0 .2rem;
    padding:0;
    opacity:.7;
    border-radius:50%;
    transition:opacity .3s ease-in;
    font-size:1rem;
    color:#fff;
    text-decoration:none;
    cursor:pointer
  }

.badge-wrap a.badge:hover{
      opacity:1;
      color:#fff;
    }

.btn{
  color:#fff !important;
	width:10em;
	transition:all .4s;
	border-radius:20px;
	border:2px solid transparent;
}
.btn.btn-back{
  position:absolute;
  top:0;
  left:0;
  border-radius:0;
  width:3rem;
  height:3rem;
  font-size:1.5rem;
  border:0
}
.btn.btn-back:hover{
    border:0 !important;
  }

.form-control{
  font-family:'Handle', cursive
}

.form-control::-moz-placeholder{
    font-family:'Josefin Sans', sans-serif;
    letter-spacing:.1em;
    font-size:.9rem;
  }

.form-control:-ms-input-placeholder{
    font-family:'Josefin Sans', sans-serif;
    letter-spacing:.1em;
    font-size:.9rem;
  }

.form-control::placeholder{
    font-family:'Josefin Sans', sans-serif;
    letter-spacing:.1em;
    font-size:.9rem;
  }
.card--welcome{
  z-index:3;
}
.card--welcome .card-title{
    color:#ee9ca7;
  }
.card--welcome .btn-wrap{
    display:flex;
    flex-direction:column;
  }
.card--welcome .btn{
    color:#fff;
    transition:all .3s
  }
.card--welcome .btn:hover{
      background-color:rgba(238,156,167,.25);
      font-weight:bold;
    }
.card--welcome .btn-member{
    margin-bottom:.8em;
    background-color:#ee9ca7
  }
.card--welcome .btn-member:hover{
      color:#ee9ca7;
    }
.card--welcome .btn-company{
    background-color:#a7bfe8;
  }
.card--member{
    margin-top: 1.5em;
	background-color:transparent;
	border:none;
  }
.card--member .card-title{
    color:#ee9ca7;
  }
.card--member .badge{
    background-color:#ee9ca7;
  }
.card--member .btn{
    background-color:#ee9ca7
  }
.card--member .btn:hover{
			background-color:#fff;
			color:#ee9ca7 !important;
			font-weight:bold;
			border:2px solid rgba(238,156,167,.25);
		}
.card--member .btn:focus{
      box-shadow:0 0 0 0.2rem rgba(238,156,167,.25);
    }
.card--member .form-control{
    color:#ee9ca7;
    border-color:rgba(238,156,167,.25)
  }
.card--member .form-control:focus{
      box-shadow:0 0 0 0.2rem rgba(238,156,167,.25);
    }

.card--company{
		margin-top: 1.5em;
		background-color:transparent;
		border:none;
	}
.card--company .card-title{
    color:#a7bfe8;
  }
.card--company .badge{
    background-color:#a7bfe8;
  }
.card--company .btn{
    background-color:#a7bfe8
  }
.card--company .btn:hover{
			background-color:#fff;
			color:#a7bfe8 !important;
			font-weight:bold;
			border:2px solid rgba(167,191,232,.25);
		}
.card--company .btn:focus{
      box-shadow:0 0 0 0.2rem rgba(167,191,232,.25);
    }
.card--company .form-control{
    color:#a7bfe8;
    border-color:rgba(167,191,232,.25)
  }
.card--company .form-control:focus{
      box-shadow:0 0 0 0.2rem rgba(167,191,232,.25);
    }
body{
	background:linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
  background-size:500% 500%;
  transition:background 3s ease;
  background-position:50% 50%
}
body.is-member{
  	background-position:0% 50%;
	}
body.is-company{
    background-position:100% 50%;
  }
.card{
	transition:all .3s .1s ease-out
}
.card:not(.is-show){
		opacity:0;
		transform:translate(-50%,-50%) rotateX(95deg);
	}
.card.is-show{
		opacity:1;
		transform:translate(-50%,-50%);
    z-index:5;
	}
  
  /* --------------------分隔------------------------- */
  *,
*::before,
*::after {
	box-sizing: border-box;
}

/* body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #3b4465;
} */

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	/* font-size: 32px;
	letter-spacing: 1px; */
	font-weight:bold;
  	font-size:1.8rem;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher-member, .switcher-company {
	font-weight:bold;
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(100);
	transition: all .3s ease-out;
}

button[type=button] {
    outline: none !important;
    box-shadow: none !important;
} 

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(120px);
	outline: none;
}


.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-120px);
	outline: none;
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 350px;
	margin-top: 50px;
 	padding: 30px 25px;
    border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
	
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}
