<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>The One</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="">
		<link rel="shortcut icon" type="image/x-icon" href="">

		<!-- CSS here -->
            <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
            <link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
            <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
            <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
            <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
            <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
            <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
            <link rel="stylesheet" th:href="@{/assets/css/style.css}">
            <link rel="stylesheet" th:href="@{/assets/css/index_event.css}">
            <!-- jQuery Raty -->
            <link rel="stylesheet" th:href="@{/css/jquery.raty.css}">
   </head>

   <body>
    <!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader End -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" th:data-background="@{/assets/img/hero/h1_hero.jpg}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>找尋最適合你的工作</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <form th:action="@{/job/search}" class="search-box" id="searchsubmit">
                                    <div class="input-form">
                                        <input type="text" placeholder="職缺查詢" name="title">
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <select name="jobdescription">
                                                <option>全職</option>
                                                <option>兼職</option>
                                                <option>工讀</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <a href="#" onclick="document.getElementById('searchsubmit').submit()">找工作</a>
                                    </div>	
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Event Start -->
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="section-tittle text-center mb-30">
                        <h3>職缺推薦</h3>
                    </div>
                    <div class="row">
                        <div th:each="event:${events}" class="col-sm-12 col-md-6 col-lg-4">
                            <div class="single-defination card">
                                <a th:href="${event.eventLinkUrl}">
                                    <div class="card_image">
                                        <img th:src="${event.imgUrl}" style="width: 320px; height: 210px;" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                	<div class="section-tittle text-center mb-30">
                    	<h3>最新職缺</h3>
                    </div>
                    <div class="row">
                        <ul th:each="jobs:${jobs}">
							<section class="featured-job-area">
								<div class="container">
									<div class="single-job-items mb-10">
										<div class="job-items">
											<div class="job-tittle job-tittle2">
												<a th:href="@{/job/jobdeatail/}+${jobs.jobid}"  target="_blank">
													<h4 th:text="${jobs.title}"></h4>
												</a>
												<ul>
													<li>工作性質:<span th:text="${jobs.jobdescription}"></span></li>
													<li>徵才條件:<span th:text="${jobs.qualification}"></span></li>
												</ul>
												<ul>
													<li class="box ellipsis" th:text="${jobs.description}"></li>
												</ul>
												<ul>
													<li th:text="${jobs.company.corpname}"></li>
													<li>薪資:<span th:text="${jobs.salary}"></span></li>
												</ul>
											</div>
										</div>
										<div class="items-link items-link2 f-right mt-10">
											<a th:href="@{/job/jobdeatail/}+${jobs.jobid}">進入應徵</a>
										</div>
									</div>
								</div>
							</section>
						</ul>
                    </div>
                </div>
                <div class="section-top-border">
                	<div class="section-tittle text-center mb-30">
                    	<h3>討論區-職場甘苦談</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-5">
                            <div class="blog_area blog_left_sidebar" th:each="comment : ${listComment} ">
						        <article class="blog_item">
						    	    <div class="blog_details py-5">
						    		    <div class="">
						    			    <a class="float-right text-muted"><i class="fa fa-thumbs-down">噓</i></a>
						    				<h4 class="float-right">&nbsp&nbsp</h4>
						    				<a class="float-right text-muted"><i class="fa fa-thumbs-up">讚</i></a>
						    				<h6 class="text-muted" th:text="'工作經驗 - ' + ${#dates.format(comment.refTime,'yyyy-MM')}"></h6>
						    			</div>
						    			<a class="d-inline-block" th:href="@{/CommentDetail/{id}(id=${comment.commentId})}">
						    				<h2 class="float-left" th:text="${comment.compName} + '&nbsp&nbsp'"></h2>
						    				<h4 class="float-left" th:text="${comment.jobName}"></h4>
						    			</a>
						    			<p th:text="${comment.share}"></p>
						    			<ul class="blog-info-link w-75 f-left d-inline">
						    				<li>
                                                <span class="listComp text-muted" th:attr="data-score=${comment.compScore}">
                                                    <i class="fa fa-building"></i>公司&nbsp&nbsp
                                                </span>
                                            </li>
						    				<li>
                                                <span class="listJob text-muted" data-score="" th:attr="data-score=${comment.job_score}">
                                                    <i class="fa fa-briefcase"></i>職位&nbsp&nbsp
                                                </span>
                                            </li>
						    				<li>
                                            	<span class="text-muted">
                                                    <i class="fa fa-comments"></i>
                                                </span>
						    			    	<span class="text-muted" th:text="'留言&nbsp&nbsp(' + ${commentMessageService.findByCommentCommentId(comment.commentId).size()} + ')'"></span>
						    				</li>
						    				<li>
                                            	<span class="text-muted" th:text="${comment.jobDescription}">
                                                    <i class="fa fa-briefcase"></i>
                                                </span>
                                        	</li>
						    			</ul>
						    		</div>
						        </article>
					        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 		<!-- Event End -->
 		<!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150" data-background="assets/img/gallery/how-applybg.png">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle white-text text-center">
                            <h2> 使用說明</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                               <h5>1. 搜尋職缺</h5>
                               <p>點擊上方找工作進入職缺專區，或是直接在首頁搜尋欄輸入職缺關鍵字。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                               <h5>2. 履歷投遞</h5>
                               <p>點擊職缺標題進入職缺描述，瀏覽職缺相關需求與待遇，點擊我要應徵並投遞履歷。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                               <h5>3. 獲取最適合你的工作</h5>
                               <p>等待企業通知面試，也可於討論區瀏覽他人工作與面試經驗，準備迎接面試與職場。</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- How  Apply Process End-->     

    </main>
    <footer>
        <!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
        <!-- Footer End-->
    </footer>

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{/assets/js/slick.min.js}"></script>
        <script th:src="@{/assets/js/price_rangs.js}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
        <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>

        <!-- raty -->
	    <script th:src="@{/js/comment_dashboard/jquery.raty.js}"></script>

        <!-- Comment Front JS -->
	    <script th:src="@{/js/comment_front/checkCommentFormFront.js}"></script>
        
    </body>
</html>