<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${jobdeatail.title}"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">
            <style>
                .imgsize{
                    width: 50px;
                    height: 50px;
                }
                .ptext{
                    text-decoration: underline;
                    color: blue;
                }
            </style>
   </head>

   <body>
    <!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader End -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" th:data-background="@{/assets/img/hero/about.jpg}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>職缺及公司詳細內容</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <img class="imgsize"
                                        th:src="@{/assets/img/job/wewantyou.png}"
                                        alt="">
                                </div>
                                <div class="job-tittle job-tittle2">
                                        <h4 th:text="${jobdeatail.title}"></h4>
                                    <ul>
                                        <li th:text="${jobdeatail.company.corpname}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link items-link2 f-right">
                            </div>
                            
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>工作內容</h4>
                                </div>
                                <p th:text="${jobdeatail.description}">
                                </p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>所需技能、證照、過往經歷等等</h4>
                                </div>
                               <p th:text="${jobdeatail.qualification}">
                               </p>
                               <a th:href="@{/user/courses}" target="_blank"><p class="ptext">點我提升語文能力課程</p></a>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>職位說明書 Job Overview</h4>
                           </div>
                          <ul>
                              <li>職缺名稱 : <span th:text="${jobdeatail.title}"></span></li>
                              <li>職缺性質 : <span th:text="${jobdeatail.jobdescription}"></span></li>
                              <li>需要人數 : <span th:text="${jobdeatail.required_number}"></span><span>/人</span></li>
                              <li>每月薪資 : <span th:text="${jobdeatail.salary}"></span><span>/月</span></li>
                          </ul>
                         <div>
                            <a href="#" class="btn head-btn2">我要應徵</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>關於本公司</h4>
                           </div>
                              <span th:text="${jobdeatail.company.corpname}">
                            </span>
                            <ul>
                                <li>負責人: <span th:text="${jobdeatail.company.owner}"></span></li>
                                <li>聯絡人: <span th:text="${jobdeatail.company.contact}"></span></li>
                                <li>聯絡電話: <span th:text="${jobdeatail.company.comptele}"></span></li>
                                <li>地址 : <span th:text="${jobdeatail.company.compaddress}"></span></li>
                                <li>信箱: <span th:text="${jobdeatail.company.website}"></span></li>
                                <li>產業別: <span th:text="${jobdeatail.company.industry}"></span></li>
                                <li>資本額: <span th:text="${jobdeatail.company.capital}"></span></li>
                                <li>員工人數: <span th:text="${jobdeatail.company.empnumber}"></span><span>/人</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
    <footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
        <!-- Footer End-->
	</footer>

	<!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>