<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">
    <style>
        .bkcolor {
            background-color: lightgoldenrodyellow;
        }

        .box {
            width: 500px;
            border: #4caf50 0px solid;
        }

        .imgsize {
            width: 50px;
            height: 50px;
        }

        h6 {
            color: lightgray;
        }

        .center {
            text-align: center;
        }

        textarea {
            resize: none;
        }
        .error{
        color: red;
        }
    </style>

</head>

<body>
    <!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader End -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
    </header>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                th:data-background="@{/assets/img/job/jobphoto.webp}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>新增職缺頁面</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->





        <!-- Content Start -->
        <div class="bkcolor">
            <div class="job-listing-area pt-120 pb-120">
                <div class="container">
                    <h6>皆須確實填寫!</h6>
                    <div class="job-tittle job-tittle2">
                        <form th:action="@{/enterprise/job/saveJob}" action="saveJob" method="post"
                            enctype="multipart/form-data" onsubmit="return checkJobForm()" id="jobcreateform">
                            
                                    <input type="hidden" name=compId maxlength="8" id="compId" class="form-control"
                                         th:value="${session.loginEnterprise.compid}"/>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">職缺名稱:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="title" id="title" class="form-control" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">職缺性質:</label>
                                <div class="col-sm-8">
                                    <select name="jobdescription" class="form-select">
                                        <option>全職</option>
                                        <option>兼職</option>
                                        <option>工讀</option>
                                        <option>其他</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">職缺條件:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="qualification" id="qualification" class="form-control" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">需要人數:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="required_number" id="required_number" class="form-control"
                                        placeholder="僅可輸入數字" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">每月薪資:</label>
                                <div class="col-sm-8">
                                    <select name="salary" class="form-select">
                                        <option>面議</option>
                                        <option>25000以下</option>
                                        <option>25001~30000</option>
                                        <option>30001~35000</option>
                                        <option>35001~40000</option>
                                        <option>40001~45000</option>
                                        <option>45001~50000</option>
                                        <option>50001~55000</option>
                                        <option>55000以上</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">工作內容:</label>
                                <div class="col-sm-8">
                                    <textarea rows="8" cols="8" id="description" name="description" class="form-control wishContent"
                                        placeholder="請輸入不超過500字" maxlength="500"></textarea>
                                    <span class="wordsNum">0/500</span>
                                </div>
                            </div>

                            <div class="center">

                                <button type="submit" class="btn head-btn2" name="create" value="confirm">新增</button>
                                <button type="reset" class="btn head-btn2">還原</button>
                                <button type="button" class="btn head-btn2"
                                    onclick="window.location.href='companylist'; return false;">取消</button>
                                    <button type="button" class="btn head-btn2" id="jobInput">一鍵輸入</button>
							<button type="button" class="btn head-btn2" id="jobwrongInput">錯誤示範</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Content End -->
            </div>
        </div>














        <footer>
            <!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
        <!-- Footer End-->
        </footer>

        <!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        
		<!--   cehck JS       -->
		<script th:src="@{/js/job_dashboard/checkJobFormForFont.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/localization/messages_zh_TW.min.js"></script>
		

</body>

</html>