<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The One</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon"
	href="assets/img/favicon.ico">

<!-- CSS here -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">


<style>
.box {
	width: 500px;
	border: #4caf50 0px solid;
}

.imgsize {
	width: 40px;
	height: 40px;
}
.ellipsis{
text-overflow: ellipsis;
}
</style>
</head>

<body>
	<!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader End -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
		<!-- Header End -->
	</header>
	<main>

		<!-- Hero Area Start-->
		<div class="slider-area ">
			<div
				class="single-slider section-overly slider-height2 d-flex align-items-center"
				th:data-background="@{/assets/img/job/joblist.jpg}">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap text-center">
								<h2>THEONE尋找夢想工作</h2>
							</div>
						</div>
					</div>
					
<!-- 					search Start-->
						<div class="row mt-5">
					<div class="col-xl-12">
						<!-- form -->
						<form th:action="@{/job/search}" class="search-box" enctype="multipart/form-data" method="get" id="searchsubmit">
							<div class="input-form ">
								<input type="text" placeholder="職缺快速搜索"  name="title">
							</div>
							<div class="select-form">
                                        <div class="select-itms">
                                    <select name="jobdescription">
                                        <option>全職</option>
                                        <option>兼職</option>
                                        <option>工讀</option>
                                        <option>其他</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <a href="#" onclick="document.getElementById('searchsubmit').submit()">搜尋</a>
                                    </div>
<!-- 							<button type="submit" class="genric-btn primary-border e-large">搜尋</button> -->
						</form>
					</div>
				</div>
<!-- 					search End-->				
				
				</div>
			</div>
		</div>
		<!-- Hero Area End -->
		
		<!-- Job List Area Start -->
		<div class="job-listing-area pt-120 pb-120">
			<div class="container">
				<div class="row">
					<!-- Left content -->
					<div class="col-xl-3 col-lg-3 col-md-4">
						<div class="row">
							<div class="col-12">
								<div class="small-section-tittle2 mb-45">
									<div class="ion">
										<svg xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" width="20px"
											height="12px">
                                            <path fill-rule="evenodd"
												fill="rgb(27, 207, 107)"
												d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                        </svg>
									</div>
									<h4>手動篩選</h4>
								</div>
							</div>
						</div>
						<!-- Job Category Listing start -->
							<div class="job-category-listing mb-30">
								<!-- single one -->
								<div class="single-listing">
								<!-- select-Categories Start -->
								
									<div class="small-section-tittle2">
										<h4>職缺型態</h4>
									</div>
									<div class="select-job-items2">
									<form th:action="@{/job/jobdescriptionchoicejoblist}" id="jobdescriptionchoicejoblist">
                                    <select name="jobdescription" id="jobdescriptionselect">
                                        <option>全職</option>
                                        <option>兼職</option>
                                        <option>工讀</option>
                                        <option>其他</option>
                                    </select>
                                </form>
                                </div>
									
									<!-- select-Categories End -->
                        			
                        			
                        		<!-- select-Salary Start-->
                        		
                        		<div class="small-section-tittle2">
										<h4>每月薪資</h4>
									</div>
									<div class="select-job-items2">
									<form th:action="@{/job/salarychoicejoblist}" id="salarychoicejoblist">
                                    <select name="salary" id="salaryselect">
                                        <option>面議</option>
										<option>25000以下</option>
										<option>25001~30000</option>
										<option>30001~35000</option>
										<option>35001~40000</option>  
										<option>40001~45000</option>  
										<option>45001~50000</option>  
										<option>50001~55000</option>  
										<option>55000以上</option>  
										</select>
                                </form>
                                </div>
									<!-- select-Salary End -->
								</div>
								
							</div>
					</div>
						
					
					
						<!-- Job Category Listing End -->
					<!-- Right content -->
					<div class="col-xl-9 col-lg-9 col-md-8">
						<!-- Featured_job_start -->
						<ul th:each="jobs:${jobs}">
							<section class="featured-job-area">
								<div class="container">
									<div class="single-job-items mb-30">
										<div class="job-items">
											<div class="company-img">
												<img class="imgsize"
													th:src="@{/assets/img/job/wewantyou.png}" alt="">
											</div>
											<div class="job-tittle job-tittle2">
												<a th:href="@{jobdeatail/}+${jobs.jobid}"  target="_blank">
													<h4 th:text="${jobs.title}"></h4>
												</a>
												<ul>
													
													<li>工作性質:<span th:text="${jobs.jobdescription}"></span></li>
													
													<li>徵才條件:<span th:text="${jobs.qualification}"></span></li>



												</ul>
												<ul>
													<li class="box ellipsis" th:text="${jobs.description}"></li>
												</ul>
												<ul>
													<li th:text="${jobs.company.corpname}"></li>
													<li>薪資:<span th:text="${jobs.salary}"></span></li>
												</ul>
											</div>
										</div>
										<div class="items-link items-link2 f-right">
											<a th:href="@{'/user/joblist/'+${jobs.jobid}}">應徵</a>
										</div>
									</div>
								</div>
							</section>
						</ul>
						<!-- Featured_job_end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Job List Area End -->
        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div
							class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination End  -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>關於我們</h4>
                                    <div class="footer-pera">
                                        <p>幫助您找尋最適合的工作</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>聯絡我們</h4>
                                <ul>
                                    <li>
                                        <p>地址 :320桃園市中壢區新生路二段421號</p>
                                    </li>
                                    <li><a href="">Phone : +03 453 2632</a></li>
                                    <li><a href="">Email : TheOne@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>相關連結</h4>
                                <ul>
                                    <li><a href="">Facebook</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
        <!-- Footer End-->
    </footer>

	<!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
		
		<script>
		$('#jobdescriptionselect').change(function(){
			$('#jobdescriptionchoicejoblist').submit();
			
		})
		$('#salaryselect').change(function(){
			$('#salarychoicejoblist').submit();
			
		})
		
		</script>
</body>

</html>