<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">
		<!-- datatable的CSS -->
   		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
            <style>
                .imgsize{
                    width: 50px;
                    height: 50px;
                }
                .ptext{
                    text-decoration: underline;
                    color: blue;
                }
            </style>
   </head>

   <body>
    <!-- Preloader Start -->
    <div th:replace="~{common/frontpage::preloader}"></div>
    <!-- Preloader End -->
    <header>
        <!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
        <!-- Header End -->
        <!-- Header End -->
    </header>
	<main>
	
	
	<!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" th:data-background="@{/assets/img/job/jobdetail.webp}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>應徵會員的履歷</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                        <!-- Featured_job_start -->
							<section class="featured-job-area">
        <table id="lee" class="table align-middle table-bordered table-hover mb-0">
							<thead>
								<tr class="text-dark">
									<th scope="col">履歷名稱</th>
									<th scope="col">自我介紹</th>
									<th scope="col">工作經驗</th>
									<th scope="col">畢業學校</th>
									<th scope="col">科系</th>
									<th scope="col">已取得證照</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>for國貿人員</td>
								<td>我是唐洋基，個性熱情活潑...</td>
								<td>尚無</td>
								<td>東華大學</td>
								<td>國貿系</td>
								<td>多益825</td>
								<tr>
							</tbody>
						</table>
        
        
							</section>
       </div>
						</div>
                        <!-- Featured_job_end -->
        <!-- Job List Area End -->
	
	</main>
	<footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
        <!-- Footer End-->
	</footer>

	<!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
		<!--         MY JS -->
		<script th:src="@{/js/job_dashboard/checkJobForm.js}"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        

</body>

</html>