<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The One</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
		<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
		<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
		<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/assets/css/imgUpload.css}">

    <style>
        .box {
            width: 500px;
            border: #4caf50 0px solid;
        }

        .imgsize {
            width: 50px;
            height: 50px;
        }

        .center {
            text-align: center;
        }

        textarea {
            resize: none;
        }

        .bkcolor {
            background-color: lightgoldenrodyellow;
        }
        .error{
        color: red;
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/img/logo/logo.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img th:src="@{/assets/img/logo/theone.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="">首頁</a></li>
                                            <li><a th:href="@{/enterprise/job/list}">找工作</a></li>
                                            <li><a href="">課程進修</a>
                                                <ul class="submenu">
                                                    <li><a href="">講師專區</a></li>
                                                    <li><a href="">我的課程</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">討論區</a>
                                                <ul class="submenu">
                                                    <li><a href="">面試經驗談</a></li>
                                                    <li><a href="">在職評論</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">企業中心</a>
                                                <ul class="submenu">
                                                    <li><a href="">職缺管理</a></li>
                                                    <li><a href="">廣告管理</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="companydetail.html" class="btn head-btn1">帳號</a>
                                    <a href="#" class="btn head-btn2">登入/登出</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                th:data-background="@{/assets/img/hero/about.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>職缺修改</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="bkcolor">
            <div class="job-listing-area pt-120 pb-120">
                <div class="container">
                    <form th:action="@{/enterprise/job/saveJob}" action="/jobupdate" method='post'
                        enctype="multipart/form-data">
                        <div class="row mb-3">
                            <input type='hidden' name='job_id' th:value="${jobupdate.job_id}" />
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">統一編號:</label>
                            <div class="col-sm-8">
                                <input type='text' name='' th:value="${jobupdate.compId}" disabled
                                    class="form-control" />
                                <input type='hidden' name='compId' th:value="${jobupdate.compId}" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">職缺名稱:</label>
                            <div class="col-sm-8">
                                <input type='text' name='title' id="title" th:value="${jobupdate.title}"
                                    class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">職缺性質:</label>
                            <div class="col-sm-8">
                                <select name='jobdescription' class="form-select" th:field="${jobupdate.jobdescription}"
                                    th:value="${jobupdate.jobdescription}">
                                    <option th:selected="${jobupdate.jobdescription =='全職'}" value="全職">全職</option>
                                    <option th:selected="${jobupdate.jobdescription =='兼職'}" value="兼職">兼職</option>
                                    <option th:selected="${jobupdate.jobdescription =='工讀'}" value="工讀">工讀</option>
                                    <option th:selected="${jobupdate.jobdescription =='其他'}" value="其他">其他</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">職缺條件:</label>
                            <div class="col-sm-8">
                                <input type='text' name='qualification' id="qualification"
                                    th:value="${jobupdate.qualification}" class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">需要人數:</label>
                            <div class="col-sm-8">
                                <input type='text' name=' required_number' id=" required_number"
                                    th:value="${jobupdate.required_number}" class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">每月薪資:</label>
                            <div class="col-sm-8">
                                <select name='salary' class="form-select" th:field="${jobupdate.salary}"
                                    th:value="${jobupdate.salary}">
                                    <option th:selected="${jobupdate.salary =='面議'}" value="面議">面議</option>
                                    <option th:selected="${jobupdate.salary =='25000以下'}" value="25000以下">25000以下
                                    </option>
                                    <option th:selected="${jobupdate.salary =='30001~35000'}" value="30001~35000">
                                        30001~35000</option>
                                    <option th:selected="${jobupdate.salary =='35001~40000'}" value="35001~40000">
                                        35001~40000</option>
                                    <option th:selected="${jobupdate.salary =='40001~45000'}" value="40001~45000">
                                        40001~45000</option>
                                    <option th:selected="${jobupdate.salary =='45001~50000'}" value="45001~50000">
                                        45001~50000</option>
                                    <option th:selected="${jobupdate.salary =='50001~55000'}" value="50001~55000">
                                        50001~55000</option>
                                    <option th:selected="${jobupdate.salary =='55000以上'}" value="55000以上">55000以上
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">工作內容:</label>
                            <div class="col-sm-8">
                                <textarea rows="8" cols="8" id="description" name="description" class="form-control wishContent"
                                    th:field="${jobupdate.description}" placeholder="請輸入不超過500字"
                                    maxlength="200"></textarea>
                                <span class="wordsNum">0/500</span>
                            </div>
                        </div>
                        <div class="center">
                            <button type="submit" class="btn head-btn2" name="update" value="confirm">修改</button>
                            <button type="button" class="btn head-btn2"
                                onclick="window.location.href='company_job_list.html'; return false;">取消</button>
                            <button type="button" class="btn head-btn2" id="jobUpdate">一鍵修改</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>關於我們</h4>
                                    <div class="footer-pera">
                                        <p>幫助您找尋最適合的工作</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>聯絡我們</h4>
                                <ul>
                                    <li>
                                        <p>地址 :320桃園市中壢區新生路二段421號</p>
                                    </li>
                                    <li><a href="">Phone : +03 453 2632</a></li>
                                    <li><a href="">Email : TheOne@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>相關連結</h4>
                                <ul>
                                    <li><a href="">Facebook</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/slick.min.js}"></script>
		<script th:src="@{/assets/js/price_rangs.js}"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{/assets/js/wow.min.js}"></script>
		<script th:src="@{/assets/js/animated.headline.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script th:src="@{/assets/js/contact.js}"></script>
        <script th:src="@{/assets/js/jquery.form.js}"></script>
        <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/js/mail-script.js}"></script>
        <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!--   cehck JS       -->
		<script th:src="@{/js/job_dashboard/checkJobForm.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/localization/messages_zh_TW.min.js"></script>

</body>

</html>