<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">
<title>Login</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Handlee|Josefin+Sans:300,600&amp;display=swap">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="shortcut icon" type="image/x-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="image/x-icon"
	href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
	color="#111" />
<link th:href="@{/css/login.css}" href="css/login.css" rel="stylesheet">
<style>
.error {
	color: red;
}
</style>
</head>
<body>
	<!-- welcome card -->
	<div class="container">
		<div class="card-wrap">
			<div class="card border-0 shadow card--welcome is-show" id="welcome">
				<a class="btn btn-back-home js-btn" th:href="@{/}"> <i
					class="fa fa-home"></i>
				</a>
				<div class="card-body">
					<h2 class="card-title">歡迎來到The One</h2>
					<h4>選擇登入身分</h4>
					<br>
					<div class="btn-wrap">
						<a class="btn btn-lg btn-member js-btn" data-target="member">會員</a>
						<a class="btn btn-lg btn-company js-btn" data-target="company">企業</a>
					</div>
				</div>
			</div>

			<!-- Member card -->
			<section class="forms-section card card--member" id="member">
				<h1 class="section-title">會員</h1>
				<div class="forms">
					<!-- Member login -->
					<div class="form-wrapper is-active">
						<button type="button" class="switcher-member switcher-login">
							登入 <span class="underline"></span>
						</button>
						<form th:action="@{/memberLogin}" th:method="post"
							class="form form-login shadow card-body">
							<fieldset>
								<div class="input-block card-body">
									<h2 class="card-title">歡迎回來!</h2>
									<p>
										享受更好的使用體驗<br />請登入您的帳號
									</p>
								</div>
								<div>
									<form>
										<div class="form-group">
											<input th:name="username" class="form-control" id="username"
												type="text" placeholder="身分證字號(帳號)" required="required" maxlength="10"/>
										</div>
										<div class="form-group">
											<input th:name="password" id="password" class="form-control"
												type="password" placeholder="密碼" required="required" maxlength="15"/>
										</div>
										<p>
											<a th:href="@{/forgetpwd}">忘記密碼?</a>
										</p>
									</form>
									<div class="badge-wrap float-left m-1">
										<a class="badge my-2" data-toggle="tooltip"
											title="member" id="memberA"><i
											class="fa fa-user-plus"></i></a>
									</div>
									<div class="float-left">
										<button type="submit" class="btn btn-lg my-1">登入</button>
									</div>
									<div class="badge-wrap float-left m-1">
										<a class="badge my-2" data-toggle="tooltip" title="Admin"
											id="Admin"><i class="fa fa-user-shield"></i></a>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<button class="btn btn-back js-btn" data-target="welcome">
						<i class="fas fa-angle-left"></i>
					</button>

					<!-- Member SignUp -->
					<div class="form-wrapper">
						<button type="button" class="switcher-member switcher-signup">
							註冊 <span class="underline"></span>
						</button>
						<form class="form form-signup shadow card-body"
							th:action="@{/signup}" th:method="post" id="form2">
							<fieldset>
								<div class="input-block card-body">
									<h2 class="card-title">註冊帳號</h2>
								</div>
								<div>
									<div class="form-group">
									<input class="form-control" type="text" placeholder="姓名"  name="username" id="userName" required="required" maxlength="10"/> 
									<input class="form-control" type="hidden" name="idNumber" />

									</div>
									<div class="form-group">
										<input class="form-control" type="text"
											placeholder="身分證字號(帳號)" id="userid" name="userid" required="required" maxlength="10"/>
											<div class="invalid-feedback" id="idError">請輸入身分證!!</div>
									</div>
									<div class="form-group">
										<input class="form-control" type="email" placeholder="Email"
											id="email" name="email" required="required" />
									</div>
									<div class="form-group">
										<input class="form-control" type="password" placeholder="密碼"
											id="pwd" name="pwd"  required="required" maxlength="15"/>
									</div>
									<div class="form-group">
										<input class="form-control" type="date" placeholder="生日"
											id="birth" name="birth"  required="required" />
									</div>
									<div class="badge-wrap float-left py-2">
										<a class="badge" data-toggle="tooltip" title="Quick insert"
											id="memberSignup"><i class="fa fa-user-plus"></i></a>
									</div>
									<div class="float-left">
										<button class="btn btn-lg my-1" type="button" id="btn-submit">註冊</button>
										       
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>

			<!-- Company card -->
			<section class="forms-section card card--company" id="company">
				<h1 class="section-title">企業</h1>
				<div class="forms">
					<div class="form-wrapper is-active">
						<button type="button" class="switcher-company switcher-login">
							登入 <span class="underline"></span>
						</button>
						<form th:action="@{/companyLogin}" th:method="post"
							class="form form-login shadow card-body">
							<!-- Company login -->
							<fieldset>
								<div class="input-block card-body">
									<h2 class="card-title">歡迎回來The One!</h2>
									<p>
										享受更好的使用體驗<br />請登入您的帳號
									</p>
								</div>
								<div>
									<form>
										<div class="form-group">
											<input th:name="username" class="form-control" type="text"
												placeholder="帳號(統編)" required="required" id="compi" />
										</div>
										<div class="form-group">
											<input th:name="password" class="form-control"
												type="password" placeholder="密碼:包含大小寫、數字並8~15字"
												required="required" id="compw" />
										</div>
										<p>
											<a>忘記密碼?</a>
										</p>
									</form>
									<div class="badge-wrap float-left my-2">
										<a class="badge my-2" data-toggle="tooltip"
											title="Comp A" id="companyquicksignin"><i
											class="fa fa-user-plus"></i></a>
									</div>
									<div class="float-left">
										<button type="submit" class="btn btn-lg my-2">登入</button>
									</div>
									<div class="badge-wrap float-left my-2">
										<a class="badge my-2" data-toggle="tooltip" title="Comp B"
											id="companyquicksignin2"><i class="fa fa-user-plus"></i></a>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<button class="btn btn-back js-btn" data-target="welcome">
						<i class="fas fa-angle-left"></i>
					</button>

					<!-- Company SignUp -->
					<div class="form-wrapper">
						<button type="button" class="switcher-company switcher-signup">
							註冊 <span class="underline"></span>
						</button>
						<form class="form form-signup shadow card-body"
							th:action="@{/signupcompany}" th:method="post"
							enctype="multipart/form-data"
							onsubmit="return checkCompanyForm()" id="companycreateform">
							<fieldset>
								<div class="input-block card-body">
									<h2 class="card-title">新增廠商會員</h2>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" maxlength="8"
										name="compid" id="compid" onblur="checkcompid()"
										placeholder="帳號(統編)"> <span id="show_compid"></span>
								</div>
								<div class="form-group">
									<input type="password" class="form-control pwd1" maxlength="15"
										name="compwd" id="compwd" placeholder="密碼:包含大小寫、數字並8~15字">
									<div class="form-group">
										<input type="password" class="form-control pwd2"
											maxlength="15" required id="pwdagain" placeholder="(再輸入一次密碼)"
											name="ckeckpwd">
									</div>
									<div class="badge-wrap float-left m-1">
										<a class="badge" data-toggle="tooltip" title="Quick insert"
											id="companyquickinsert"><i class="fa fa-user-plus"></i></a>
									</div>
									<div class="float-left">
										<button type="submit" class="btn btn-primary register-submit my-0 w-50"
											name="create" value="confirm" id="submit"
											onclick="returncheck()">下一步</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/login/login.js}" src="login.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/localization/messages_zh_TW.min.js"></script>
	<script th:src="@{/js/company_dashboard/checkCompanyForm.js}"></script>

	<script th:src="@{/js/member_front/checkSignupMemberForm.js}"></script>
</body>

</html>