<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The One</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="">

<!-- CSS here -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
<!-- jQuery Raty -->
<link rel="stylesheet" th:href="@{/css/jquery.raty.css}">

<style>
.blog_right_sidebar .tag_cloud_widget_comment ul li {
	display: inline-block
}

.blog_right_sidebar .tag_cloud_widget_comment ul li a {
	display: inline-block;
	border: 1px solid #eeeeee;
	background: #fff;
	padding: 4px 20px;
	margin-bottom: 8px;
	margin-right: 3px;
	transition: all 0.3s ease 0s;
	color: #888888;
	font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget_comment ul li a:hover {
	background: #4cd3e3;
	color: #fff !important;
	-webkit-text-fill-color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s
}

.edit-delete i {
	font-size: 28px;
	color: #888888
}

.comment-delete {
	background-color: transparent;
	border: 0
}

.comment-link li a {
	color: black
}

.comment-link li i, .comment-link li span {
	font-size: 16px;
	margin-right: 5px;
	float: left
}

.comment-link li::after {
	content: ">";
	padding-left: 10px;
	padding-right: 10px;
	float: left
}

.comment-link li:last-child::after {
	display: none
}

.comment-link::after {
	content: "";
	display: block;
	clear: both;
	display: table
}

.rounded-80 {
	border-radius: .80rem !important
}

.blog_left_sidebar i {
	font-size: 16px;
}
</style>
</head>

<body>
	<!-- Preloader Start -->
	<div th:replace="~{common/frontpage::preloader}"></div>
	<!-- Preloader Start -->
	<header>
		<!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
		<!-- Header End -->
	</header>
	<!-- Hero Area Start-->
	<!-- <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            data-background="comment_img/box.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>職位大揭密</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
	<!-- Hero Area End -->
	<!--================Blog Area =================-->

	<section class="blog_area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="blog_left_sidebar">
						<ul class="comment-link">
							<li><a th:href="@{/comments}"><span>職場甘苦談</span></a></li>
							<li><a th:href="@{/comments}"><span>總覽</span></a></li>
							<li><a href=""><span
									th:text="'編號:'+ ${comment.commentId} + ' ' + ${comment.comp_name} + ' ' + ${comment.job_name}"></span></a></li>
						</ul>
						<!-- 評論內容 start-->
						<article class="testimonial-bg border shadow-sm">
							<form th:action="@{/CommentSave}" method="post"
								th:modelAttribute="comment" th:object="${comment}" id="form">
								<div class="brand-bg border-bottom border">
									<div class="float-right m-1">
										<a
											th:if="${session.loginMember != null && session.loginMember.userid == comment.member.userid}"
											class="m-2 edit-delete"
											th:href="@{/CommentEdit/{id}(id=${comment.commentId})}"
											data-target="editMessage"> <i class="fa fa-pencil-alt"></i>
										</a>

									</div>
									<div class="float-right mt-55">
										<h6 class="text-muted"
											th:text="${comment.nickName} + ' - ' + '新增時間: ' + ${#calendars.format(comment.create_time, 'yyyy-MM-dd')}">
										</h6>
									</div>
									<div class="m-4">
										<div>
											<ul>
												<li>
													<h3 class="float-left mr-3" th:text="${comment.comp_name}"></h3>
												</li>
												<li>
													<h3 class="justify-content-md-center"
														th:text="${comment.job_name}"></h3>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="blog-author p-4">

									<table class="w-100">
										<tr class="">
											<td>公司評分:</td>
											<td class="listComp"
												th:attr="data-score=${comment.comp_score}"></td>
											<td>職位評分:</td>
											<td class="listJob" th:attr="data-score=${comment.job_score}">
											</td>
											<td>參考時間:</td>
											<td
												th:text="${#calendars.format(comment.ref_time, 'yyyy-MM-dd')}"></td>
										</tr>
										<tr>
											<td>職務型態:</td>
											<td th:text="${comment.job_description}"></td>
											<td>服務年資:</td>
											<td th:text="${comment.seniority} + ' 年'"></td>
											<td>總年資:</td>
											<td th:text="${comment.total_seniority} + ' 年'"></td>
										</tr>
										<tr>
											<td>表定工時:</td>
											<td th:text="${comment.std_hour} + ' 小時'"></td>
											<td>實際工時:</td>
											<td th:text="${comment.real_hour} + ' 小時'"></td>
											<td>加班頻率:</td>
											<td th:text="${comment.over_freq} + ' 次/周'"></td>
										</tr>
										<tr>
											<td>月薪:</td>
											<td th:text="${comment.monthly_salary} + ' 元'"></td>
											<td>年薪:</td>
											<td th:text="${comment.yearly_salary} + ' 萬元'"></td>
											<td>獎金次數:</td>
											<td th:text="${comment.bonus_count} + ' 次/年'"></td>
										</tr>
									</table>
								</div>
								<div class="white-bg w-100">
									<div class="mx-4 p-3">
										<span>心得分享</span>
										<p th:text="${comment.share}"></p>
									</div>
									<button
										th:if="${session.loginMember != null && session.loginMember.userid == comment.member.userid}"
										type="button"
										class="comment-delete float-right mb-70 m-2 edit-delete"
										th:value='${comment.commentId}'>
										<i class="fa fa-trash-alt"></i>
									</button>
								</div>
							</form>
						</article>
						<!-- 評論內容 end-->
						<!-- 留言區塊 start-->
						<div class="comments-area">
							<div class="comment_form brand-bg rounded-80 p-3">
								<div class="thumb f-left col-sm-1 p-0" th:if="${session.loginMember != null}">
									<img class="p-0" 
										th:src="@{${session.loginMember.image == null} ? @{/assets/img/comment/user_1.png} : ${session.loginMember.image}}"
										alt="">
								</div>
								<div class="thumb f-left col-sm-1 p-0" th:if="${session.loginMember == null}">
									<img class="p-0" th:if="${session.loginMember == null}"
										th:src="@{/assets/img/comment/user_1.png}" alt="">
								</div>
								<!-- 新增留言 start -->
								<div class="pt-1">
									<form
										th:action="@{/user/{id}/CommentMessageSave(id=${comment.commentId})}"
										method="post" id="form" th:modelAttribute="commentMessage">
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<textarea
														class="form-control w-100 bg-white rounded-80 shadow-sm"
														name="messageContent"
														th:value="${commentMessage.messageContent}"
														id="messageContent" placeholder="留言....."></textarea>
													<h6 class="float-right" id="count_message"></h6>
												</div>
											</div>
											<div class="">
												<div class="form-group">
													<input class="form-control" name="messageOrder"
														id="messageOrder" type="hidden"
														th:value="${commentMessage.messageOrder}" readonly>
												</div>
											</div>
											<div class="">
												<div class="form-group">
													<input class="form-control" name="status" id="status"
														type="hidden" th:value=0 readonly>
												</div>
											</div>
											<div class="">
												<div class="form-group">
													<input th:if="${commentMessage.messageId == null}"
														type="hidden" class="form-control" name="messageTime"
														required id="messageTime"
														th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
														readonly> <input
														th:if="${commentMessage.messageId != null}" type="hidden"
														class="form-control" name="messageTime" required
														id="messageTime"
														th:value="${#dates.format(commentMessage.messageTime, 'yyyy-MM-dd HH:mm:ss')}"
														readonly>
												</div>
											</div>
											<div class="col-sm-10" id="messageNickName" th:if="${session.loginMember != null}">
												<div class="form-group">
													<div class="f-left">
														<input type="text" class="form-control"
															th:style="${commentMessage.replyNickName != null && commentMessage.replyNickName.contains('匿名') ? 'display: none' : 'display: block'}"
															id="replyNickName" name="replyNickName"
															th:value="${commentMessage.replyNickName == null ? 	session.loginMember.username : commentMessage.replyNickName}"
															placeholder="來個暱稱">
													</div>
													<label class="f-left pr-1">匿名</label>
													<div class="switch-wrap justify-content-between f-left">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch"
																name="anonymous"
																th:checked="${commentMessage.replyNickName != null && commentMessage.replyNickName.contains('匿名')}">
															<label for="confirm-switch" class="f-left"></label>
														</div>
													</div>
												</div>
											</div>
											<!-- 										<div class="col-sm-3"> -->
											<!-- 											<div class="form-group"> -->
											<!-- 												<input type="text" class="form-control" name="messageReply" -->
											<!-- 													id="messageReply" th:value="${commentMessage.messageReply}">回覆 -->
											<!-- 											</div> -->
											<!-- 										</div> -->
											<!-- 										<div class="col-sm-3"> -->
											<!-- 											<div class="form-group"> -->
											<!-- 												<input type="radio" name="messageLike" id="mlike" -->
											<!-- 													th:value="true" -->
											<!-- 													th:checked="${commentMessage.messageLike} ? 'checked'">喜歡 -->
											<!-- 												<input type="radio" name="messageLike" id="munlike" -->
											<!-- 													th:value="false" -->
											<!-- 													th:checked="${!commentMessage.messageLike} ? 'checked'">不喜歡 -->
											<!-- 											</div> -->
											<!-- 										</div> -->
											<div class="form-group col-sm-2 f-right">
												<button type="submit"
													th:if="${commentMessage.messageId == null}"
													class="genric-btn success radius" name="submit" value="送出">
													<i class="fa fa-paper-plane"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
								<!-- 新增留言 end -->
								<div class="comments-area">
									<h4 th:text="'留言(' + ${messages.size()} + ')'"></h4>
									<div class="comment-list" th:each="message : ${messages}">
										<!-- 留言list start-->
										<div th:id="'currentMessage' + ${message.messageId}">
													<div class="thumb f-left">
														<img
															th:src="@{${message.replyNickName != null && message.replyNickName.contains('匿名')} ? @{/assets/img/comment/user_1.png} : ${message.member.image}}"
															alt="">
													</div>
											<div
												class="single-comment justify-content-between d-flex testimonial-bg border rounded-80 shadow-sm">
												<div class="user justify-content-between d-flex">
													<div class="desc p-3">
														<div class="float-right m-1"
															th:if="${session.loginMember != null && session.loginMember.userid == comment.member.userid}">
															<!--  
														th:href="@{/CommentEdit/{id}(id=${comment.commentId})}" -->
															<a class="m-2 edit-delete editMessage"
																th:id="${message.messageId}"
																onmouseover="editMessage(this.id)"> <i
																class="fa fa-pencil-alt"></i>
															</a>
														</div>
														<p class="comment" th:text="${message.messageContent}"></p>
														<div class="d-flex justify-content-between">
															<div class="d-flex align-items-center">
																<h5 class="date">[[${message.replyNickName}]]</h5>
																<p class="date"
																	th:text="${#dates.format(message.messageTime,'yyyy-MM-dd HH:mm:ss')}"></p>
															</div>
															<div class="reply-btn">
																<a href="#" class="btn-reply text-uppercase">reply</a>
															</div>
															<button type="button"
																th:if="${session.loginMember != null && session.loginMember.userid == comment.member.userid}"
																class="commentMessage-delete float-right mb-70 m-2 edit-delete testimonial-bg border-0"
																th:value='${message.messageId}'>
																<i class="fa fa-trash-alt"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- 留言list end-->
										<!-- 編輯留言區 -->
										<div class="d-none"
											th:id="'messageEditArea' + ${message.messageId}">
											<form
												th:action="@{/{cid}/{mid}/CommentMessageUpdate(cid=${comment.commentId},mid=${message.messageId})}"
												method="post" id="form" th:object="${message}"
												th:modelAttribue="message">
												<div class="">
													<div class="form-group">
														<textarea
															class="form-control w-100 bg-white rounded-80 shadow-sm"
															placeholder="留言....." name="messageContent"
															th:text="${message.messageContent}"></textarea>
														<h6 class="float-right" id="count_message"></h6>
													</div>
												</div>
												<div class="f-left">
													<div class="">
														<input class="" type="hidden" name="messageOrder"
															th:value="${message.messageOrder}">
													</div>
												</div>
												<div class="f-left">
													<div class="">
														<input type="hidden" class="" name="messageTime"
															th:value="${#dates.format(message.messageTime,'yyyy-MM-dd HH:mm:ss')}">
													</div>
												</div>
												<div class="f-left">
													<div class="">
														<input type="hidden" class="" name="replyNickName"
															th:value="${message.replyNickName}">
													</div>
												</div>
												<div class="f-left">
													<div class="">
														<input type="hidden" class="" name="messageReply"
															th:value="${message.messageReply}">
													</div>
												</div>
												<div class="f-left">
													<div class="">
														<input type="hidden" class="" name="messageLike"
															th:value="${message.messageLike}">
													</div>
												</div>
												<button type="submit"
													class="edit-delete testimonial-bg border-0" name="sent"
													value="送出">
													<i class="fa fa-paper-plane"></i>
												</button>
												<button type="button"
													class="edit-delete testimonial-bg border-0"
													th:id="'editCancel'+${message.messageId}" name="back"
													value="取消">
													<i class="fa fa-reply"></i>
												</button>
											</form>
										</div>
										<!-- 回復區 -->
									</div>
								</div>
							</div>
						</div>
						<!-- 留言區塊 end-->
					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget">
							<form th:action="@{/user/comment/new}">
								<button class="genric-btn success circle w-100 e-larg"
									type="submit" data-toggle="tooltip" title="需登入分享">
									<i class="fa fa-bullhorn"></i>&nbsp我要分享
								</button>
							</form>
						</aside>

						<aside class="single_sidebar_widget post_category_widget">
							<h4 class="widget_title">分類</h4>
							<ul class="list cat-list">
								<li><a href="#" class="d-flex">
										<p>全部</p>
										<p>(21)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>正職</p>
										<p>(37)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>兼職</p>
										<p>(10)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>工讀</p>
										<p>(03)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>實習</p>
										<p>(11)</p>
								</a></li>
							</ul>
						</aside>

						<aside class="single_sidebar_widget tag_cloud_widget_comment">
							<h4 class="widget_title">熱門搜尋</h4>
							<ul class="list">
								<li><a href="#">#工程師</a></li>
								<li><a href="#">#軟體</a></li>
								<li><a href="#">#行政助理</a></li>
								<li><a href="#">#護理師</a></li>
								<li><a href="#">#專員</a></li>
								<li><a href="#">#銀行</a></li>
								<li><a href="#">#科技</a></li>
							</ul>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================Blog Area =================-->
	<footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
		<!-- Footer End-->
	</footer>


	<!-- JS here -->

	<!-- All JS Custom Plugins Link Here here -->
	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/price_rangs.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/animated.headline.js}"></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/assets/js/jquery.sticky.js}"></script>

	<!-- contact js -->
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/js/jquery.form.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/mail-script.js}"></script>
	<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- Sweet Alert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- raty -->
	<script th:src="@{/js/comment_dashboard/jquery.raty.js}"></script>

	<!-- Comment Front JS -->
	<script th:src="@{/js/comment_front/checkCommentFormFront.js}"></script>


</body>


</html>