<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The One</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="">

<!-- CSS here -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
<!-- jQuery Raty -->
<link rel="stylesheet" th:href="@{/css/jquery.raty.css}">

<style>

/* 熱門標籤 */
.blog_right_sidebar .tag_cloud_widget_comment ul li {
	display: inline-block
}

.blog_right_sidebar .tag_cloud_widget_comment ul li a {
	display: inline-block;
	border: 1px solid #eeeeee;
	background: #fff;
	padding: 4px 20px;
	margin-bottom: 8px;
	margin-right: 3px;
	transition: all 0.3s ease 0s;
	color: #888888;
	font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget_comment ul li a:hover {
	background: #4cd3e3;
	color: #fff !important;
	-webkit-text-fill-color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s
}

/* delete button */
.comment-delete {
	background-color: transparent;
	border: 0
}

.modify-btn i {
	font-size: 16px
}

/* 分支連結 */
.comment-link li a {
	color: black;
	line-height: 40px
}

.comment-link li i, .comment-link li span {
	font-size: 16px;
	margin-right: 5px;
	float: left
}

.comment-link li::after {
	content: ">";
	padding-left: 10px;
	padding-right: 10px;
	float: left
}

.comment-link li:last-child::after {
	display: none
}

.comment-link::after {
	content: "";
	display: block;
	clear: both;
	display: table
}

/* pagination css */
#comment-pagination .page-item.active .page-link {
	background-color: #4cd3e3;
	border-color: #f0e9ff;
	color: #fff
}

/* 限制顯示行數 */
.blog_details p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
</style>
</head>

<body>
	<!-- Preloader Start -->
	<div th:replace="~{common/frontpage::preloader}"></div>
	<!-- Preloader Start -->
	<header>
		<!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
		<!-- Header End -->
	</header>
	<!-- Hero Area Start-->
	<div class="slider-area ">
		<div
			class="single-slider section-overly slider-height2 d-flex align-items-center"
			data-background="/assets/img/hero/comment_box.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>職場甘苦談</h2>
						</div>
					</div>
				</div>
				<!-- Search Box -->
				<div class="row mt-5">
					<div class="col-xl-12">
						<!-- form -->
						<form th:action="@{/comments/search}" class="search-box"
							id="commentSearch">
							<div class="input-form ">
								<input type="text" placeholder="搜尋職缺或公司" name="title">
							</div>
							<div class="select-form">
								<div class="select-itms">
									<select name="searchType" id="searchBar">
										<option value="compName">公司</option>
										<option value="jobName">職缺</option>
									</select>
								</div>
							</div>
							<div class="search-form">
								<a href="#"
									onclick="document.getElementById('commentSearch').submit()"><i
									class="fa fa-search"></i></a>
							</div>
						</form>
					</div>
				</div>
				<!-- Search Box -->
			</div>
		</div>
	</div>
	<!-- Hero Area End -->
	<!--================Blog Area =================-->
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="text-heading">
						<div class="blog_area">
							<ul class="comment-link">
								<li><a th:href="@{/comments}"><span>職場甘苦談</span></a></li>
								<li><a th:href="@{/comments}"><span>總覽</span></a></li>
								<!-- 								<li -->
								<!-- 									th:if="${#httpServletRequest.requestURI == '/commentDetail'}"><a -->
								<!-- 									href="single_comment.html"><span>分析</span></a></li> -->
								<li
									th:if="${#httpServletRequest.requestURI == '/comments/search' && param.searchType.contains('jobDescription')}"><a
									href="@{/comments/search}"><span
										th:text=" ${param.title} + '(' + ${listComment.size()} + ')' "></span></a></li>
								<li
									th:if="${#httpServletRequest.requestURI == '/comments/search' && param.searchType.contains('compName')}"><a
									href="@{/comments/search}"><span
										th:text="'[' + ${param.title} + ']' + ' 公司' + '(' + ${listComment.size()} + ')' "></span></a></li>
								<li
									th:if="${#httpServletRequest.requestURI == '/comments/search' && param.searchType.contains('jobName')}"><a
									href="@{/comments/search}"><span
										th:text="'[' + ${param.title} + ']' + ' 職缺' + '(' + ${listComment.size()} + ')' "></span></a></li>
								<li
									th:if="${#httpServletRequest.requestURI == '/user/comments'}"><a
									th:href="@{/user/comments}"><span>我的分享</span></a></li>
							</ul>
						</div>
						<ul class="blog-info-link">
							<a th:href="@{/comments}" id="overview"
								class="genric-btn success-border float-left w-25"> 總覽</a>
							<!-- 							<a th:href="@{/comments/analysis}" id="analysis" -->
							<!-- 								class="genric-btn success-border float-left w-25">分析</a> -->
							<a th:if="${session.loginMember!=null}"
								th:href="@{/user/comments}" id="mycomment"
								class="genric-btn success-border float-left w-25"> 我的心得</a>
						</ul>
					</div>
					<div class="blog_area blog_left_sidebar"
						th:each="comment : ${listComment} ">
						<article class="blog_item">
							<div class="blog_details py-5">
								<div class="">
									<h6 class="text-muted"
										th:text="'工作經驗 - ' + ${#dates.format(comment.refTime,'yyyy-MM')}"></h6>
								</div>
								<a class="d-inline-block"
									th:href="@{/CommentDetail/{id}(id=${comment.commentId})}">
									<h2 class="float-left"
										th:text="${comment.compName} + '&nbsp&nbsp'"></h2>
									<h4 class="float-left" th:text="${comment.jobName}"></h4>
								</a>
								<p th:text="${comment.share}"></p>
								<ul class="blog-info-link w-75 f-left d-inline">
									<li><span class="listComp text-muted"
										th:attr="data-score=${comment.compScore}"><i
											class="fa fa-building"></i>公司&nbsp&nbsp</span></li>
									<li><span class="listJob text-muted" data-score=""
										th:attr="data-score=${comment.job_score}"><i
											class="fa fa-briefcase"></i>職位&nbsp&nbsp</span></li>
									<li><span class="text-muted"><i
											class="fa fa-comments"></i></span> <span class="text-muted"
										th:text="'留言&nbsp&nbsp(' + ${commentMessageService.findByCommentCommentId(comment.commentId).size()} + ')'"></span>
									</li>
									<li><span class="text-muted"
										th:text="${comment.jobDescription}"><i
											class="fa fa-briefcase"></i></span></li>
								</ul>
								<div class="modify-btn w-25 f-right d-inline">
									<button type="button"
										th:if="${session.loginMember != null && session.loginMember.userid == comment.commentMember.userid}"
										class="genric-btn danger circle float-right comment-delete"
										th:value='${comment.commentId}'>
										<i class="fa fa-trash-alt"></i>
									</button>
									<button type="button"
										th:if="${session.loginMember != null && session.loginMember.userid == comment.commentMember.userid}"
										class="genric-btn success circle float-right"
										th:onclick="'window.location.href=\'' + @{/CommentEdit/{id}(id=${comment.commentId})} + '\''">
										<i class="fa fa-pencil-alt"></i>
									</button>
								</div>
							</div>
						</article>
					</div>
					<nav class="blog-pagination justify-content-center d-flex"
						id="comment-pagination">
						<ul class="pagination">
						</ul>
					</nav>
				</div>
				<div class="col-lg-4 blog_area">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget">
							<form th:action="@{/user/comment/new}">
								<button class="genric-btn success circle w-100 e-larg"
									type="submit" data-toggle="tooltip" title="需登入分享">
									<i class="fa fa-bullhorn"></i>&nbsp我要分享
								</button>
							</form>
						</aside>

						<aside class="single_sidebar_widget post_category_widget">
							<h4 class="widget_title">分類</h4>
							<ul class="list cat-list">
								<li><a href="/comments" class="d-flex">
										<p>全部</p>
										<p id="allcount"></p>
								</a></li>
								<li><a
									th:href="@{/comments/search} + '?title=全職&searchType=jobDescription'"
									class="d-flex">
										<p>全職</p>
										<p id="fullcount"></p>
								</a></li>
								<li><a
									th:href="@{/comments/search} + '?title=兼職&searchType=jobDescription'"
									class="d-flex">
										<p>兼職</p>
										<p id="helfcount"></p>
								</a></li>
								<li><a
									th:href="@{/comments/search} + '?title=工讀&searchType=jobDescription'"
									class="d-flex">
										<p>工讀</p>
										<p id="parttimecount"></p>
								</a></li>
								<li><a
									th:href="@{/comments/search} + '?title=實習&searchType=jobDescription'"
									class="d-flex">
										<p>實習</p>
										<p id="intern"></p>
								</a></li>
							</ul>
						</aside>

						<aside class="single_sidebar_widget tag_cloud_widget_comment">
							<h4 class="widget_title">熱門搜尋</h4>
							<form th:action="@{/comments/search}" class=""
								id="commentHotSearch">
								<ul class="list">
									<li><a
										th:href="@{/comments/search} + '?title=工程師&searchType=jobName'">#工程師</a></li>
									<li><a
										th:href="@{/comments/search} + '?title=軟體&searchType=jobName'">#軟體</a></li>
									<li><a
										th:href="@{/comments/search} + '?title=行政助理&searchType=jobName'">#行政助理</a></li>
									<li><a
										th:href="@{/comments/search} + '?title=銀行&searchType=compName'">#銀行</a></li>
									<li><a
										th:href="@{/comments/search} + '?title=專員&searchType=jobName'">#專員</a></li>
									<li><a
										th:href="@{/comments/search} + '?title=java&searchType=jobName'">#java</a></li>
									<li><a
										th:href="@{/comments/search} + '?title=科技&searchType=compName'">#科技</a></li>
								</ul>
							</form>
						</aside>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================Blog Area =================-->
	<footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
		<!-- Footer End-->
	</footer>


	<!-- JS here -->

	<!-- All JS Custom Plugins Link Here here -->
	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/price_rangs.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/animated.headline.js}"></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/assets/js/jquery.sticky.js}"></script>

	<!-- contact js -->
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/js/jquery.form.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/mail-script.js}"></script>
	<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- Sweet Alert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- raty -->
	<script th:src="@{/js/comment_dashboard/jquery.raty.js}"></script>

	<!-- Comment Front JS -->
	<script th:src="@{/js/comment_front/checkCommentFormFront.js}"></script>


</body>

</html>