<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The One</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="">

<!-- CSS here -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/price_rangs.css}">
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
<!-- jQuery Raty -->
<link rel="stylesheet" th:href="@{/css/jquery.raty.css}">

<style>
.blog_right_sidebar .tag_cloud_widget_comment ul li {
	display: inline-block
}

.blog_right_sidebar .tag_cloud_widget_comment ul li a {
	display: inline-block;
	border: 1px solid #eeeeee;
	background: #fff;
	padding: 4px 20px;
	margin-bottom: 8px;
	margin-right: 3px;
	transition: all 0.3s ease 0s;
	color: #888888;
	font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget_comment ul li a:hover {
	background: #4cd3e3;
	color: #fff !important;
	-webkit-text-fill-color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s
}

.edit-delete i {
	font-size: 28px;
	color: #888888
}

.comment-delete {
	background-color: transparent;
	border: 0
}

.comment-link li a {
	color: black
}

.comment-link li i, .comment-link li span {
	font-size: 16px;
	margin-right: 5px;
	float: left
}

.comment-link li::after {
	content: ">";
	padding-left: 10px;
	padding-right: 10px;
	float: left
}

.comment-link li:last-child::after {
	display: none
}

.comment-link::after {
	content: "";
	display: block;
	clear: both;
	display: table
}
</style>
</head>

<body>
	<!-- Preloader Start -->
	<div th:replace="~{common/frontpage::preloader}"></div>
	<!-- Preloader Start -->
	<header>
		<!-- Header Start -->
		<div th:replace="~{common/frontpage::header}"></div>
		<!-- Header End -->
	</header>
	<!-- Hero Area Start-->
	<!-- <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            data-background="comment_img/box.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>職位大揭密</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
	<!-- Hero Area End -->
	<!--================Blog Area =================-->

	<section class="blog_area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="blog_left_sidebar">
						<ul class="comment-link">
							<li><a th:href="@{/comments}"><span>職場甘苦談</span></a></li>
							<li><a th:href="@{/comments}"><span>總覽</span></a></li>
							<li><a href="single_comment.html"><span
									th:text="'編號:'+ ${comment.commentId} + ' ' + ${comment.comp_name} + ' ' + ${comment.job_name}"></span></a></li>
						</ul>
						<article class="testimonial-bg border shadow-sm">
							<form th:action="@{/CommentInsert}" method="post"
								th:modelAttribute="comment" th:object="${comment}" id="form">
								<div class="brand-bg border-bottom border">
									<div class="float-right m-1">
										<a
											th:if="${session.loginMember != null && session.loginMember.userid == comment.userId}"
											class="m-2 edit-delete"
											th:href="@{/CommentEdit/{id}(id=${comment.commentId})}"> <i
											class="fa fa-pencil-alt"></i></a>

									</div>
									<div class="float-right mt-55">
										<h6 class="text-muted"
											th:text="'新增時間: ' + ${#calendars.format(comment.create_time, 'yyyy-MM-dd')}">
										</h6>
									</div>
									<div class="m-4">
										<div>
											<ul>
												<li>
													<h3 class="float-left mr-3" th:text="${comment.comp_name}"></h3>
												</li>
												<li>
													<h3 class="justify-content-md-center"
														th:text="${comment.job_name}"></h3>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="blog-author p-4">

									<table class="w-100">
										<tr class="">
											<td>公司評分:</td>
											<td class="listComp"
												th:attr="data-score=${comment.comp_score}"></td>
											<td>職位評分:</td>
											<td class="listJob" th:attr="data-score=${comment.job_score}">
											</td>
											<td>參考時間:</td>
											<td
												th:text="${#calendars.format(comment.ref_time, 'yyyy-MM-dd')}"></td>
										</tr>
										<tr>
											<td>職務型態:</td>
											<td th:text="${comment.job_description}"></td>
											<td>服務年資:</td>
											<td th:text="${comment.seniority} + ' 年'"></td>
											<td>總年資:</td>
											<td th:text="${comment.total_seniority} + ' 年'"></td>
										</tr>
										<tr>
											<td>表定工時:</td>
											<td th:text="${comment.std_hour} + ' 小時'"></td>
											<td>實際工時:</td>
											<td th:text="${comment.real_hour} + ' 小時'"></td>
											<td>加班頻率:</td>
											<td th:text="${comment.over_freq} + ' 次/周'"></td>
										</tr>
										<tr>
											<td>月薪:</td>
											<td th:text="${comment.monthly_salary} + ' 元'"></td>
											<td>年薪:</td>
											<td th:text="${comment.yearly_salary} + ' 萬元'"></td>
											<td>獎金次數:</td>
											<td th:text="${comment.bonus_count} + ' 次/年'"></td>
										</tr>
									</table>
								</div>
								<div class="white-bg w-100">
									<div class="mx-4 p-3">
										<span>心得分享</span>
										<p th:text="${comment.share}"></p>
									</div>
									<button
										th:if="${session.loginMember != null && session.loginMember.userid == comment.userId}"
										type="button"
										class="comment-delete float-right mb-70 m-2 edit-delete"
										th:value='${comment.commentId}'>
										<i class="fa fa-trash-alt"></i>
									</button>
								</div>
							</form>
						</article>
						<div class="comments-area">
							<h4>留言(00)</h4>
							<div class="comment-list">
								<div class="single-comment justify-content-between d-flex">
									<div class="user justify-content-between d-flex">
										<div class="thumb">
											<img src="assets/img/comment/comment_1.png" alt="">
										</div>
										<div class="desc">
											<p class="comment">Multiply sea night grass fourth day
												sea lesser rule open subdue female fill which them Blessed,
												give fill lesser bearing multiply sea night grass fourth day
												sea lesser</p>
											<div class="d-flex justify-content-between">
												<div class="d-flex align-items-center">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm</p>
												</div>
												<div class="reply-btn">
													<a href="#" class="btn-reply text-uppercase">reply</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget">
							<form th:action="@{/CommentNew}">
								<button class="genric-btn success circle w-100 e-larg"
									type="submit">
									<i class="fa fa-bullhorn"></i>&nbsp我要分享
								</button>
							</form>
						</aside>

						<aside class="single_sidebar_widget post_category_widget">
							<h4 class="widget_title">分類</h4>
							<ul class="list cat-list">
								<li><a href="#" class="d-flex">
										<p>全部</p>
										<p>(21)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>正職</p>
										<p>(37)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>兼職</p>
										<p>(10)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>工讀</p>
										<p>(03)</p>
								</a></li>
								<li><a href="#" class="d-flex">
										<p>實習</p>
										<p>(11)</p>
								</a></li>
							</ul>
						</aside>

						<aside class="single_sidebar_widget tag_cloud_widget_comment">
							<h4 class="widget_title">熱門搜尋</h4>
							<ul class="list">
								<li><a href="#">#工程師</a></li>
								<li><a href="#">#軟體</a></li>
								<li><a href="#">#行政助理</a></li>
								<li><a href="#">#護理師</a></li>
								<li><a href="#">#專員</a></li>
								<li><a href="#">#銀行</a></li>
								<li><a href="#">#科技</a></li>
							</ul>
						</aside>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================Blog Area =================-->
	<footer>
		<!-- Footer Start-->
		<div th:replace="~{common/frontpage::footer}"></div>
		<!-- Footer End-->
	</footer>


	<!-- JS here -->

	<!-- All JS Custom Plugins Link Here here -->
	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/price_rangs.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/animated.headline.js}"></script>
	<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/assets/js/jquery.sticky.js}"></script>

	<!-- contact js -->
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/js/jquery.form.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/mail-script.js}"></script>
	<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- Sweet Alert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- raty -->
	<script th:src="@{/js/comment_dashboard/jquery.raty.js}"></script>

	<!-- Comment Front JS -->
	<script th:src="@{/js/comment_front/checkCommentFormFront.js}"></script>


</body>


</html>