<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/price_rangs.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <style>
        .blog_right_sidebar .tag_cloud_widget_comment ul li {
            display: inline-block
        }

        .blog_right_sidebar .tag_cloud_widget_comment ul li a {
            display: inline-block;
            border: 1px solid #eeeeee;
            background: #fff;
            padding: 4px 20px;
            margin-bottom: 8px;
            margin-right: 3px;
            transition: all 0.3s ease 0s;
            color: #888888;
            font-size: 13px
        }

        .blog_right_sidebar .tag_cloud_widget_comment ul li a:hover {
            background: #4cd3e3;
            color: #fff !important;
            -webkit-text-fill-color: #fff;
            text-decoration: none;
            -webkit-transition: 0.5s;
            transition: 0.5s
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                 <div class="container">
                     <div class="row align-items-center">
                         <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/theone.png"  alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="">首頁</a></li>
                                             <li><a href="">找工作</a></li>
                                             <li><a href="">課程進修</a></li>
                                             <li><a href="">討論區</a>
                                                 <ul class="submenu">
                                                     <li><a href="">面試經驗談</a></li>
                                                     <li><a href="comment_list_overview.html">工作甘苦談</a></li>
                                                 </ul>
                                             </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="#" class="btn head-btn2">Login/Register</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            data-background="comment_img/box.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>工作甘苦談</h2>
                        </div>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="row mt-5">
                    <div class="col-xl-12">
                        <!-- form -->
                        <form action="#" class="search-box">
                            <div class="input-form ">
                                <input type="text" placeholder="搜尋職缺或公司">
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">全部</option>
                                        <option value="">全職</option>
                                        <option value="">兼職</option>
                                        <option value="">工讀</option>
                                        <option value="">實習</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-form">
                                <a href="#">Go</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search Box -->
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!--================Blog Area =================-->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="text-heading">
                        <a class="float-left" href="comment_list_overview.html">
                            <h6>工作甘苦談</h6>
                        </a>
                        <h6 class="float-left">&nbsp>&nbsp</h6>
                        <a class="" href="comment_list_myexperiences.html">
                            <h6>我的心得</h6>
                        </a>
                        
                        <ul class="blog-info-link">
                            <a href="comment_list_overview.html" class="genric-btn success-border float-left w-25">
                                總覽</a>
                            <a href="comment_list_work-experiences.html" class="genric-btn success-border float-left w-25">
                                工作心得</a>
                            <a href="comment_list_myexperiences.html" class="genric-btn success float-left w-25">
                                我的心得</a>
                        </ul>
                    </div>
                    <div class="blog_area blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_details">
                                <div class="">
                                    <form action="#">
                                        <button class="genric-btn danger radius float-right" type="submit">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                    <form action="comment_form.html">
                                        <button class="genric-btn success radius float-right" type="submit">
                                            <i class="fa fa-pencil-alt"></i>
                                        </button>
                                    </form>
                                    <h6 class="float-left text-muted">工作經驗</h6>
                                    <h6 class="float-left text-muted">-</h6>
                                    <h6 class="text-muted">2000年06月</h6>
                                </div>
                                <a class="d-inline-block" href="single_comment.html">
                                    <h2 class="float-left">宏樓酒吧</h2>
                                    <h4 class="float-left">&nbsp&nbsp</h4>
                                    <h4 class="float-left">調酒師</h4>
                                </a>
                                <p>評論內容....(十五個字)</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-building"></i>公司&nbsp<i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-briefcase"></i>職位&nbsp<i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4 blog_area">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget">
                            <form action="comment_form.html">
                                <button class="genric-btn success circle w-100 e-larg" type="submit">我要分享</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">分類</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>全部</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>正職</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>兼職</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>工讀</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>實習</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget tag_cloud_widget_comment">
                            <h4 class="widget_title">熱門搜尋</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">#工程師</a>
                                </li>
                                <li>
                                    <a href="#">#軟體</a>
                                </li>
                                <li>
                                    <a href="#">#行政助理</a>
                                </li>
                                <li>
                                    <a href="#">#護理師</a>
                                </li>
                                <li>
                                    <a href="#">#專員</a>
                                </li>
                                <li>
                                    <a href="#">#銀行</a>
                                </li>
                                <li>
                                    <a href="#">#科技</a>
                                </li>
                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>關於我們</h4>
                                 <div class="footer-pera">
                                     <p>幫助您找尋最適合的工作</p>
                                </div>
                             </div>
                         </div>

                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>聯絡我們</h4>
                                <ul>
                                    <li><p>地址 :320桃園市中壢區新生路二段421號</p></li>
                                    <li><a href="">Phone : +03 453 2632</a></li>
                                    <li><a href="">Email : TheOne@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>相關連結</h4>
                                <ul>
                                    <li><a href="">Facebook</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-xl-2 col-lg-2">
                             <div class="footer-social f-right">
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                                 <a href="#"><i class="fas fa-globe"></i></a>
                                 <a href="#"><i class="fab fa-behance"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>


    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>

</html>