<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>THE ONE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div th:replace="~{common/dashboard::spinner}"></div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div th:replace="~{common/dashboard::sidebar(7)}"></div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:replace="~{common/dashboard::navbar}"></div>
            <!-- Navbar End -->
            
            <!-- Content Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12 col-xl-10">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">新增紀錄</h6>
                        <form th:action="@{/dashboard/event}" action="./EventsManager" method="post" enctype="multipart/form-data" id="form">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">刊登公司統編</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="compId" maxlength="8" required id="compId">
                                    <div class="invalid-feedback" id="compIdError">刊登公司統編為8位數字</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">廣告圖</label>
                                <div class="col-sm-8 text-center">
                                    <img class="img-fluid mx-auto mb-4" id="preview_progressbarTW_img" src="#" alt="請選擇廣告圖" style="width: 320px; height: 200px;">
                                    <input class="form-control" type="file" name="imageFile" id="imgInp" accept="image/jpeg, image/png" required>
                                    <div class="invalid-feedback">請輸入廣告圖</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">廣告連結</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="eventLinkUrl" required id="eventLinkURL">
                                    <div class="invalid-feedback">請輸入廣告連結</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">上架日期</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="postStart" required id="postStart">
                                    <div class="invalid-feedback" id="postStartError">請輸入上架日期</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">下架日期</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="postEnd" required id="postEnd">
                                    <div class="invalid-feedback" id="postEndError">請輸入下架日期</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">狀態</label>
                                <div class="col-sm-8">
                                 <select class="form-select mb-3" aria-label="Default select example" name="state" required id="state">
                                 	<option th:value="0">未審核</option>
                                 	<option th:value="1">審核通過</option>
                                 	<option th:value="2">退件</option>
                                 	<option th:value="3">已撤銷</option>
                                </select>       					
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">備註</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" placeholder="備註最多50個字" id="floatingTextarea" style="height: 150px;" name="remark" maxlength="50"></textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" value="0" id="btn-submit">確認新增</button>
                            <button type="button" class="btn btn-primary" id="btn-goBack">取消</button>
                            <button type="button" class="btn btn-primary" id="eventWrongInput">錯誤輸入</button>
                            <button type="button" class="btn btn-primary" id="eventCorrectInput">正確輸入</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content End -->

			<!-- Footer Start -->
            <div th:replace="~{common/dashboard::footer}"></div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/chart/chart.min.js}" src="lib/chart/chart.min.js"></script>
    <script th:src="@{/lib/easing/easing.min.js}" src="lib/easing/easing.min.js"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}" src="lib/waypoints/waypoints.min.js"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}" src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script th:src="@{/lib/tempusdominus/js/moment.min.js}" src="lib/tempusdominus/js/moment.min.js"></script>
    <script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}" src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}" src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/event_dashboard/checkEventForm.js}" src="js/checkEventForm.js"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}" src="js/main.js"></script>

</body>
</html>